#chatButton{
    position: fixed;
    bottom: 63px;
    right: 6px;
    border-radius: 50%;
    background-color: rgba(91, 181, 91, 0.9);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    border: 3px solid #fff;
    font-size: 30px;
}

i{
    padding: 13px 15px;
    color: #fff;
}

#chatBox{
    display:none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: white;
    width: 250px;
    height: 300px;
}

.chatBoxUp{
    height: 30px;
    background-color:  rgba(91, 181, 91, 1);
}

.chatBoxUp > p{
    display:inline-block;
    padding-top: 5px;
    padding-left: 10px;
    color : white;
    margin-bottom: 0cm;
}

/*Message body*/

.chatBoxBody {
  height:230px;
  width: 249px;
  overflow-y: scroll;
  overflow-x: hidden;
    border-right: 1px solid lightgray;

}

.chatBoxBody table {
  width: 99%; !important;
  max-width: 240px;
  table-layout: fixed;
}

.chatBoxUp > i{
    display:inline-block;
    float: right;
    padding-bottom: 0px;
}

#chatBoxText{
    border-top: 1px solid lightgray;
    height: 30px;
    font-family: 'tahoma';
    font-size: 13px;
    padding: 5px;
}

.msg-row {
    max-width: 99%;
    border-bottom: 1px solid lightgray;
    padding: 3px 0px 3px 2px;
}

.message {
    margin-left: 40px;
}
.chatBoxBody .msg-text{
    width: 11em;
    word-wrap: break-word;
}


.user-label {
  font-size: 11px;
}

.msg-time {
  font-size: 10px;
  float: right;
  color: gray;
}


#chatBoxText #helpCmd{
    margin: 0;
    width: 95%;
    border: none;
    outline:none;
    box-shadow: none;
;}

.avatar-left {
  width: 24px;
  height: 24px;
  float: left;
  background: url('/static/img/robot.png');
  border: 1px solid lightgray;
}

.avatar-user{
  width: 24px;
  height: 24px;
  float: left;
  border: 1px solid lightgray;
}
