/*Declaration of Color variables*/
:root {
    --navbarColor: #009688;
    --navbarShadow:  rgba(255, 255, 255, 0.9);
    --navsearchHover: #fff;
}

.form-actions {
    padding: 0;
    background-color: #fff;
    border-top: none;
}

.help-inline {
    font-size: 90%;
}

.progress-in-table {
    margin-bottom: 0;
}

/* NavBar */
/*It was based on http://www.bublinastudio.com/flattybs3/index.html*/
.navbar{
    margin: 0;
    background-color: var(--navbarColor);
    padding: 0px 20px;
    border:none;
    min-height:45px;
    height:45px;
    border-radius: 0;
}

.navbar-brand{
    padding: 0px;
}

.navbar .toggle-nav{
    margin-left: 10px;
    margin-top: 4px;
    color: white;
    font-size:16px;

    /*padding: 11px 0px 0px 20px;*/
    border-radius: 0px;
    border-color: rgba(0, 0, 0, 0.1);
    -box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.navbar .navbar-form{
    position: relative;
    margin: 7px 10px 0 0;
    padding: 0;
    border: none;
    float: right;
}

.navbar-form input{
    height: 30px;
    border-radius: 0px ;
    padding: 10px;
    background-color: var(--navbarShadow);
}

.navbar-form input:focus{
    background-color: var(--navsearchHover);
}

.navbar-form input [placeholder]{
    color: var(--navbarColor);
}

.navbar-form .glyphicon-search{
    position: absolute;
    color: var(--navbarColor);
    padding: 0px;
    margin:0px;
    right: 7px;
    top: 4px;
}

.navbar .nav{
    float: right;
    margin:0;
}

.navbar-login{
    float: right;
    list-style: none;
    padding: 5px 0px 0px 10px;

}

.navbar-login li{
    float: left;
    padding: 10px;
}

.navbar-login li a:hover{
     text-decoration: none;
}

.nav-user{
    float: right;
    list-style: none;
    padding: 2px 0px 0px 10px;
    background-color: #00645a;
}

.nav-user li{
    float: left;
    padding: 10px;
}

.nav-user .dropdown-toggle{
    color:white;
    text-decoration: none; !important;
}

.nav-user .dropdown-toggle .fa-rss{
    font-size: 16px;
}

.nav-user .dropdown-toggle .label{
    background-color: white;
    border-radius: 0px;
    color: var(--navbarColor);
}

.nav-user .dropdown-menu{
    right: 0px;
    left: auto;
}

/*Icon color*/
.white{
    color: #fff;
}

/*New look for flash container messages*/
.alert{
    border-radius: 0px;
    margin-top: 10px;
}
/*End of new look*/


/*Title container appears when user os logged in*/
.header-content-header{
    margin-left: 250px;
    background-color: #f9f9f9;
}

.header-content-header h2{
    padding: 20px 0px 20px 20px;
    border-bottom: 1px solid #dddddd;
    margin: 0px;
}
/*End title container*/

/*Content container*/
.content-container{
    margin-left: 250px;
    padding: 0px 30px 0px 30px;
    margin-top: 20px;
}
/*End Content Container*/

/*Form Button row*/
.button-form-row{
    margin: 15px 0px 15px 250px;
    padding: 10px;
}
.button-form-row .btn{
    background-color: var(--navbarColor);
    border-color: white;
}
/*End Form Button row*/

/*Pagination Costumization*/
.pagination > .active > a, .pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: var(--navbarColor);
    border-color: var(--navbarColor);
}

.pagination > li > a, .pagination > li > span{
    color: var(--navbarColor);
}
/*End Pagination Costumizaton*/
























/* form styles */
form .required {
    font-weight: bold;
}
form .required label:after {
    color: #e32;
    content: '*';
    display:inline;
    margin-left:2px;
}


html,
body { 
    height: 100%;
}

#wrap {

    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#push,
#footer {
    height: 60px;
    z-index: 10;
}

/* bootstrap + tablesorter */

table {
    overflow-x: scroll;;
}

table .header {
    cursor: pointer;
}

table .header:after {
    content: "";
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #000000 transparent;
    visibility: hidden;
}

table .headerSortUp, table .headerSortDown {
    background-color: #f7f7f9;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

table .header:hover:after {
    visibility: visible;
}

table .headerSortDown:after, table .headerSortDown:hover:after {
    visibility: visible;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}

table .headerSortUp:after {
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
    visibility: visible;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}

.table-borderless td,
.table-borderless th{ 
    border: 0 !important
}

.top-5 { margin-top:5px; }
.top-10 { margin-top:10px; }
.top-15 { margin-top:15px; }
.top-20 { margin-top:20px; }
.top-25 { margin-top:25px; }
.top-30 { margin-top:30px; }
