.form-actions {
    padding: 0;
    background-color: #fff;
    border-top: none;
}

.help-inline {
    font-size: 90%;
}

.progress-in-table {
    margin-bottom: 0;
}

/* NavBar */
.navbar .btn-signup {
    color: white;
    text-decoration: none;
}

ul.nav li.nav-header {
    margin-top: 6px;
    font-size: 14px;
}

form#language-selector select {
    width:100px;
}

/* form styles */
form .required {
    font-weight: bold;
}
form .required label:after {
    color: #e32;
    content: '*';
    display:inline;
    margin-left:2px;
}

/* 
 * Sticky footer 
 * http://twitter.github.io/bootstrap/examples/sticky-footer.html
 * */

html,
body { 
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#push,
#footer {
    height: 60px;
    z-index: 10;
}
#footer {
    background-color: #f5f5f5;
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.footer-links {
    text-align: center;
    font-size: 12px;
    line-height: 59px;
    text-shadow: 0 1px 0 white;
    background-color: whiteSmoke;
    border-top: 1px solid #E5E5E5;
}

.footer-links li {
    display: inline;
    padding: 0 2px;
}

.footer-links li:first-child {
    padding-left: 0;
}

/* End of sticky footer */

/* bootstrap + tablesorter */

table .header {
    cursor: pointer;
}

table .header:after {
    content: "";
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #000000 transparent;
    visibility: hidden;
}

table .headerSortUp, table .headerSortDown {
    background-color: #f7f7f9;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

table .header:hover:after {
    visibility: visible;
}

table .headerSortDown:after, table .headerSortDown:hover:after {
    visibility: visible;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}

table .headerSortUp:after {
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
    visibility: visible;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}

.table-borderless td,
.table-borderless th{ 
    border: 0 !important
}

.top-5 { margin-top:5px; }
.top-10 { margin-top:10px; }
.top-15 { margin-top:15px; }
.top-20 { margin-top:20px; }
.top-25 { margin-top:25px; }
.top-30 { margin-top:30px; }
