#calendar {
/*    width: 100%;
    margin: 0 auto;*/
}

#timezone {
    font-style: italic;
    font-size: 0.8em;
}

.modal-content form {
    margin-bottom:0;
}

.fc-event {
    background: #3366CC;
    border: 1px solid #3366CC;
}

.addables-holder {
    width: 30%;
    height: 50%;
    float: left;
    margin:5px;
}

#addable-programs ul {
    margin:5px 0 10px 0;
    padding: 5px;
    border:1px solid #ddd;
    background: #eee;
    list-style: none;
}

#addable-programs li.external-event { /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    background: #3366CC;
    color: #fff;
    font-size: .85em;
    cursor: pointer;
    min-width: 10%;
}

#addable-programs li.recurring-button {
    height:30px;
    margin:5px 20px 10px 0;
}

#addable-programs button {
    margin-bottom:30px;
    float:left;
}

.popover {
    z-index: 10;
    width:400px;
}
.tooltip {
    z-index: 10;
}
