
{# All pages that exist are defined here #}
{% set radio = [
    (_("Status"), url_for('radio.index')),
    (_("Stations"), url_for('radio.stations')),
    (_("People"), url_for('radio.people')),
    (_("Programs"), url_for('radio.programs')),
    (_("Blocks"), url_for('radio.scheduled_blocks')),
    (_("Schedule"), url_for('radio.schedule')),
    (_("Bots"), url_for('radio.list_bots')),
    (_("Media Files"), url_for('radio.media_files')),
]%}

{% set telephony = [
    (_("Status"), url_for('telephony.index')),
    (_("Phone Numbers"), url_for('telephony.phonenumbers')),
    (_("Calls"), url_for('telephony.calls')),
    (_("Messages"), url_for('telephony.messages')),
    (_("Gateways"), url_for('telephony.gateways'))
]%}

{% set rootio = [
    (_("System"), url_for('rootio.index')),
    (_("Users"), url_for('rootio.users')),
    (_("Languages"), url_for('rootio.languages')),
    (_("Networks"), '#'),
    (_("Program Types"), url_for('rootio.program_types')),
]%}

{% set messenger = [
    (_("Message Test"), url_for('messenger.message_test')),
]%}

{% set emergency = [
    (_("Emergency Broadcast"),url_for('radio.emergency')),
]%}

{% set manage = [
    (_("Manage User"),url_for('user.user_dashboard')),
]%}
{# !!!IMPORTANT THERE IS AN ARRAY IN THE MIDDLE OF THIS PAGE THAT DEFINES THE THE PAGES
THAT AND ADMIN OR A NORMAL USER ARE ABLE TO ACCESS!!! #}
{# End of page defenition #}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{ page_title|default(_('Project')) }}{% endblock %} - Rootio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="Shortcut Icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">

    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/font-awesome.min.css') }}">
   <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap-theme.min.css') }}">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap-formhelpers.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    {% endblock %}

    {% block css_style %}
    {% endblock %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    {% block js_top %}
    {% endblock %}
</head>
<body>
    {% include "macros/_ask_user_to_update_ie.html" %}

    <div id='wrap'>
        {% block topbar %}
            <nav class="navbar navbar-default">
                <a class="navbar-brand  hidden-xs" href="{{ url_for('frontend.index') }}" >
                    <img width="90" height="40" class="logo" alt="" src="{{ url_for('static', filename='img/logo_white.png') }}">
                </a>

                {% if current_user.is_authenticated() %}
                <a class="toggle-nav btn pull-left" href="#">
                    <i class="glyphicon glyphicon-align-justify white"></i>
                </a>

                    {% if current_user.is_admin() %}
                        <ul class="nav-user">
                          <li class="dropdown medium ">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                              <i class="fa fa-rss"></i>
                              <div class="label">0</div>
                            </a>

                            <ul class="dropdown-menu">
                              <li>
                                <a href="#">
                                  <div class="widget-body">
                                    <div class="pull-left icon">
                                      <i class="icon-user text-success"></i>
                                    </div>
                                    <div class="pull-left text">
                                      No new notifications
                                    </div>
                                  </div>
                                </a>
                              </li>

                              <li class="widget-footer">
                                <a href="#">All notifications</a>
                              </li>
                            </ul>
                          </li>


                          <li class="dropdown dark user-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                              <img width="23" height="23" src="{{ url_for('static', filename='img/avatar.png') }}">
                              <span class="user-name">{{ current_user.name }}</span>
                              <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                              <li>
                                <a href="{{ url_for('rootio.index') }}">
                                  <i class="glyphicon glyphicon-user"></i>
                                  Profile
                                </a>
                              </li>
                                <li>
                                <a href="{{ url_for('settings.password') }}">
                                  <i class="fa fa-lock" aria-hidden="true"></i>
                                  Password
                                </a>
                              </li>
                              <li>
                                <a href="{{ url_for('settings.profile') }}">
                                  <i class="glyphicon glyphicon-cog"></i>
                                  Settings
                                </a>
                              </li>

                              <li>
                                <a href="{{ url_for('frontend.logout') }}">
                                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                                  Sign out
                                </a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                    {% else %}
                        <ul class="nav-user">
                          <li class="dropdown medium ">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                              <i class="fa fa-rss"></i>
                              <div class="label">0</div>
                            </a>

                            <ul class="dropdown-menu">
                              <li>
                                <a href="#">
                                  <div class="widget-body">
                                    <div class="pull-left icon">
                                      <i class="icon-user text-success"></i>
                                    </div>
                                    <div class="pull-left text">
                                      No new notifications
                                    </div>
                                  </div>
                                </a>
                              </li>

                              <li class="widget-footer">
                                <a href="#">All notifications</a>
                              </li>
                            </ul>
                          </li>


                          <li class="dropdown dark user-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                              <img width="23" height="23" src="{{ url_for('static', filename='img/avatar.png') }}">
                              <span class="user-name">{{ current_user.name }}</span>
                              <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                              <li>
                                <a href="{{ url_for('user.index') }}">
                                  <i class="glyphicon glyphicon-user"></i>
                                  Profile
                                </a>
                              </li>
                              <li>
                                <a href="{{ url_for('settings.profile') }}">
                                  <i class="glyphicon glyphicon-cog"></i>
                                  Settings
                                </a>
                              </li>

                              <li>
                                <a href="{{ url_for('frontend.logout') }}">
                                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                                  Sign out
                                </a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                    {% endif %}

                    <form action="{{ url_for('frontend.search') }}" class="navbar-form hidden-xs" method="get">
                      <button class="btn btn-link glyphicon glyphicon-search" name="button" type="submit"></button>
                      <div class="form-group">
                        <input value="{{ keywords|default('') }}" class="form-control" placeholder="Search..." autocomplete="off" id="q_header" name="q" type="text">
                      </div>
                    </form>
                {% else %}

                    <ul class="navbar-login">
                        <li><a href="{{ url_for('frontend.signup') }}"><span class="glyphicon glyphicon-user white"></span > <span class="white">Sign Up</span> </a></li>
                        <li><a href="{{ url_for('frontend.login') }}"><span class="glyphicon glyphicon-log-in white"></span> <span class="white">Sign In</span> </a></li>
                    </ul>

                <form action="{{ url_for('frontend.search') }}" class="navbar-form hidden-xs" method="get">
                      <button class="btn btn-link glyphicon glyphicon-search" name="button" type="submit"></button>
                      <div class="form-group">
                        <input value="{{ keywords|default('') }}" class="form-control" placeholder="Search..." autocomplete="off" id="q_header" name="q" type="text">
                      </div>
                    </form>
                {% endif %}
            </nav>
        {% endblock %}

        {% if current_user.is_authenticated() %}
            {% if current_user.is_admin() %}
                {# Name to print sidebar | Icon | Array Declared on top of this page #}
                {% set tabs = [
                    (_("Radio Dashboard"),_("fa fa-tachometer"),radio),
                    (_("Telephony Dashboard"),_("fa fa-phone"),telephony),
                    (_("Emergency Broadcast"),_("fa fa-exclamation-triangle"),emergency),
                    (_("Schedule Message"),_("fa fa-envelope-o"),messenger),
                    (_("Manage Users"),_("fa fa-users"),manage),
                    (_("Admin Dashboard"),_("fa fa-cog"),rootio),
                ]%}
            {% else %}
                {# Name to print sidebar | Icon | Array Declared on top of this page #}
                {% set tabs = [
                    (_("Radio Dashboard"),_("fa fa-tachometer"),radio),
                    (_("Telephony Dashboard"),_("fa fa-phone"),telephony),
                ]%}
            {% endif %}


            {%  block sidebar%}
                <nav class="side-nav">
                    <div class="navside-tabs-wrapper">
                        <ul class="navside-tabs">
                            {% for tab, icon, suburls in tabs %}
                                {%if suburls|length == 0 %}
                                    <li class="no-dropdown">
                                        <a href="{{links}}" class="dropdown-toggle"><i class="{{icon}}"></i><span> {{tab}} </span></a>
                                    </li>
                                {% elif suburls|length == 1 %}
                                    {% for name, links in suburls %}
                                        <li class="no-dropdown">
                                            <a href="{{links}}" class="dropdown-toggle" ><i class="{{icon}}"></i><span>{{tab}}</span></a>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="{{icon}}"></i>
                                        <span>{{tab}} </span><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        {% for name, links in suburls %}
                                            <li><a href="{{links}}"><i class="fa fa-caret-right" aria-hidden="true"></i> {{name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </nav><!--END side-nav-->
            {% endblock %}
        {% endif %}
        <div {% if current_user.is_authenticated() %} {{"class=header-content-header"}} {% else %} {{" style=display:none"}} {% endif %}>
            {% if page_title %}
                <h2>{{page_title}}</h2>
            {% endif %}
            {% if timezone %}
                        <div class="pull-right top-25" id="timezone">Timezone: {{ timezone}}</div>
            {% endif %}
        </div>

        <div {% if forms %}class="row button-form-row"{% else %}  {{" style=display:none"}}{% endif %}>
            {% for name, url in forms %}
            <a class="btn btn-success" href="{{ url }}"><strong>{{ name }}</strong></a>
            {% endfor %}
        </div>

        <div class="{% if current_user.is_authenticated() %} {{"content-container"}} {% endif %}">
            {% block flash_message %}
                    {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                            {% if current_user.is_authenticated() %}
                                    <div id='flash_message_container'>
                                        {% for category, msg in messages %}
                                            <div class="alert alert-{{ category }}">
                                                <button type="button" class="close" data-dismiss="alert">×</button>
                                                {{ msg }}
                                            </div>
                                        {% endfor %}
                                    </div>
                            {% else %}
                                <div class="container">
                                    <div id='flash_message_container'>
                                        {% for category, msg in messages %}
                                            <div class="alert alert-{{ category }}">
                                                <button type="button" class="close" data-dismiss="alert">×</button>
                                                {{ msg }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endwith %}
            {% endblock %}

            {% block body %}
            {% endblock %}
        </div>
 </div> <!-- END wrap -->


        <div id="chatButton">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
        </div>

        <div id="chatBox">
            <div class="chatBoxUp">
                <p>Help Bot</p>
                <i class="fa fa-minus"  id="minimizeChat"  aria-hidden="true"></i>
            </div>

            <div class="chatBoxBody">
                <table>
                </table>
            </div>
        <div id="chatBoxText">
            <input type="text" id="helpCmd" placeholder="Type your message.">
        </div>
    </div>
            </div>


    <script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
    <script>window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-ui.custom.min.js') }}"></script>
    <script>window.jQuery.ui || document.write('<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"><\/script>')</script>

    <script src="{{ url_for('static', filename='js/vendor/bootstrap.js') }}"></script>

    {# DataTables #}
        <script src="{{ url_for('static', filename='js/vendor/dataTable/jquery.dataTables.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/vendor/dataTable/dataTables.bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/dataTables.js') }}"></script>


    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
    {% block js_btm %}{% endblock %}
    <script src="{{ url_for('static', filename='js/plugins/bootstrap.modal-inline.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script src="{{ url_for('static', filename='js/chat_bot.js') }}"></script>


    {% block ga %}
    {% include "macros/_google_analytics.html" %}
    {% endblock %}
</body>
</html>
