<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{ page_title|default(_('Project')) }}{% endblock %} - Rootio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="Shortcut Icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/font-awesome.min.css') }}">
   <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap-theme.min.css') }}">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap-formhelpers.css') }}">

    {% endblock %}

    {% block css_style %}
    {% endblock %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    {% block js_top %}
    {% endblock %}
</head>
<body>
    {% include "macros/_ask_user_to_update_ie.html" %}

    <div id='wrap'>
        {% block topbar %}
            <nav class="navbar navbar-default">
                <a class="navbar-brand" href="{{ url_for('frontend.index') }}" >
                    <img width="90" height="40" class="logo" alt="" src="{{ url_for('static', filename='img/logo_white.png') }}">
                </a>

                {% if current_user.is_authenticated() %}
                <a class="toggle-nav btn pull-left hidden-xs" href="#">
                    <i class="glyphicon glyphicon-align-justify white"></i>
                </a>

                    {% if current_user.is_admin() %}
                        <ul class="nav-user">
                          <li class="dropdown medium ">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                              <i class="fa fa-rss"></i>
                              <div class="label">0</div>
                            </a>

                            <ul class="dropdown-menu">
                              <li>
                                <a href="#">
                                  <div class="widget-body">
                                    <div class="pull-left icon">
                                      <i class="icon-user text-success"></i>
                                    </div>
                                    <div class="pull-left text">
                                      No new notifications
                                    </div>
                                  </div>
                                </a>
                              </li>

                              <li class="widget-footer">
                                <a href="#">All notifications</a>
                              </li>
                            </ul>
                          </li>


                          <li class="dropdown dark user-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                              <img width="23" height="23" src="{{ url_for('static', filename='img/avatar.png') }}">
                              <span class="user-name">{{ current_user.name }}</span>
                              <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                              <li>
                                <a href="{{ url_for('rootio.index') }}">
                                  <i class="glyphicon glyphicon-user"></i>
                                  Profile
                                </a>
                              </li>
                              <li>
                                <a href="{{ url_for('settings.profile') }}">
                                  <i class="glyphicon glyphicon-cog"></i>
                                  Settings
                                </a>
                              </li>

                              <li>
                                <a href="{{ url_for('frontend.logout') }}">
                                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                                  Sign out
                                </a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                    {% else %}
                        <ul class="nav-user">
                          <li class="dropdown medium ">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                              <i class="fa fa-rss"></i>
                              <div class="label">0</div>
                            </a>

                            <ul class="dropdown-menu">
                              <li>
                                <a href="#">
                                  <div class="widget-body">
                                    <div class="pull-left icon">
                                      <i class="icon-user text-success"></i>
                                    </div>
                                    <div class="pull-left text">
                                      No new notifications
                                    </div>
                                  </div>
                                </a>
                              </li>

                              <li class="widget-footer">
                                <a href="#">All notifications</a>
                              </li>
                            </ul>
                          </li>


                          <li class="dropdown dark user-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                              <img width="23" height="23" src="{{ url_for('static', filename='img/avatar.png') }}">
                              <span class="user-name">{{ current_user.name }}</span>
                              <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                              <li>
                                <a href="{{ url_for('user.index') }}">
                                  <i class="glyphicon glyphicon-user"></i>
                                  Profile
                                </a>
                              </li>
                              <li>
                                <a href="{{ url_for('settings.profile') }}">
                                  <i class="glyphicon glyphicon-cog"></i>
                                  Settings
                                </a>
                              </li>

                              <li>
                                <a href="{{ url_for('frontend.logout') }}">
                                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                                  Sign out
                                </a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                    {% endif %}

                    <form action="{{ url_for('frontend.search') }}" class="navbar-form hidden-xs" method="get">
                      <button class="btn btn-link glyphicon glyphicon-search" name="button" type="submit"></button>
                      <div class="form-group">
                        <input value="{{ keywords|default('') }}" class="form-control" placeholder="Search..." autocomplete="off" id="q_header" name="q" type="text">
                      </div>
                    </form>
                {% else %}

                    <ul class="navbar-login">
                        <li><a href="{{ url_for('frontend.signup') }}"><span class="glyphicon glyphicon-user white"></span > <span class="white">Sign Up</span> </a></li>
                        <li><a href="{{ url_for('frontend.login') }}"><span class="glyphicon glyphicon-log-in white"></span> <span class="white">Sign In</span> </a></li>
                    </ul>

                <form action="{{ url_for('frontend.search') }}" class="navbar-form hidden-xs" method="get">
                      <button class="btn btn-link glyphicon glyphicon-search" name="button" type="submit"></button>
                      <div class="form-group">
                        <input value="{{ keywords|default('') }}" class="form-control" placeholder="Search..." autocomplete="off" id="q_header" name="q" type="text">
                      </div>
                    </form>
                {% endif %}
            </nav>
        {% endblock %}


        {% block flash_message %}
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <div class="container">
                        <div id='flash_message_container'>
                            {% for category, msg in messages %}
                                <div class="alert alert-{{ category }}">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    {{ msg }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
        {% endblock %}

        {% block body %}

        {% endblock %}

    </div> <!-- END wrap -->



    <script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
    <script>window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-ui.custom.min.js') }}"></script>
    <script>window.jQuery.ui || document.write('<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"><\/script>')</script>

    <script src="{{ url_for('static', filename='js/vendor/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
    {% block js_btm %}{% endblock %}
    <script src="{{ url_for('static', filename='js/plugins/bootstrap.modal-inline.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>


    {% block ga %}
    {% include "macros/_google_analytics.html" %}
    {% endblock %}
</body>
</html>
