<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{ page_title|default(_('Project')) }}{% endblock %} - Rootio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="Shortcut Icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">

    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap-responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat_bot.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    {% endblock %}

    {% block css_style %}

    {% endblock %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

    {% block js_top %}

    {% endblock %}
</head>
<body>
    {% include "macros/_ask_user_to_update_ie.html" %}

    <div id='wrap'>
        {% block topbar %}
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class='brand' href="{{ url_for('frontend.index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" /></a>

                    <form class="navbar-search pull-left" action="{{ url_for('frontend.search') }}">
                        <input type='text' class="search-query" name='keywords' value="{{ keywords|default('') }}" placeholder='Search' />
                    </form>

                     <div class="pull-right">
                        <ul class="nav">
                            {% if current_user.is_authenticated() %}
                                {% if current_user.is_admin() %}
                                <li><a id="username" href="{{ url_for('rootio.index') }}">{{ current_user.name }}</a></li>
                                {% else %}
                                <li><a href="{{ url_for('user.index') }}">{{ current_user.name }}</a></li>
                                {% endif %}
                                <li><a href="{{ url_for('settings.profile') }}">Settings</a></li>
                                <li><a href="{{ url_for('frontend.logout') }}">Log out</a></li>
                            {% else %}
                                <li><span><a class="btn btn-success" href="{{ url_for('frontend.signup') }}"><strong>{{ _('Sign up') }}</strong></a></span></li>
                                <li><a href="{{ url_for('frontend.login') }}">{{ _('Sign in') }}</a></li>
                            {% endif %}
                            <li>
                                <form class="navbar-search pull-right" action="{{ url_for('frontend.lang') }}" method="POST" id="language-selector">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <select name='language'>
                                    {% for lang_code,name in g.accept_languages.items() %}
                                        <option value="{{lang_code}}" {% if lang_code == session.language%}selected=selectred{%endif%}>{{name}}</option>
                                    {%endfor%}
                                    </select>
                                </form>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
        {% endblock %}

        {% block flash_message %}
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                <div class="container">
                    <div id='flash_message_container'>
                        {% for category, msg in messages %}
                            <div class="alert alert-{{ category }}">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                {{ msg }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            {% endwith %}
        {% endblock %}

        {% block container %}
        <div class="container">

            {% block top %}
                {% if tabs %}
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        {% if tab_title%}
                            <li class="nav-header">{{tab_title}}</li>
                        {%endif%}
                        {% for tab, link in tabs %}
                        <li class="{% if active == tab %}active{% endif %}">
                            {% trans tab %}<a href="{{ link }}">{{ tab }}</a>{% endtrans %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            {% endblock %}

            {% block body %}
            {% endblock %}

        </div>
        {% endblock %}
        <div id="push"></div>
    </div>

        <div id="chatButton">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
        </div>

        <div id="chatBox">
            <div class="chatBoxUp">
                <p>Help Bot</p>
                <i class="fa fa-minus"  id="minimizeChat"  aria-hidden="true"></i>
            </div>

            <div class="chatBoxBody">
                <table>
                </table>
            </div>
        <div id="chatBoxText">
            <input type="text" id="helpCmd" placeholder="Type your message.">
        </div>
    </div>
            </div>

    <footer id="footer">
        <ul class="footer-links">
            <li>© 2013</li>
            <li><a href='http://rootio.org/'>{{ _('About') }}</a></li>
            <li class="muted">&middot;</li>
            <li><a href="{{ url_for('frontend.help') }}">{{ _('Help') }}</a></li>
            <li class="muted">&middot;</li>
            <li><a href='https://github.com/rootio/rootio-cloud/blob/master/LICENSE'>{{ _('Terms') }}</a></li>
        </ul>
    </footer>

    <script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
    <script>window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-ui.custom.min.js') }}"></script>
    <script>window.jQuery.ui || document.write('<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"><\/script>')</script>

    <script src="{{ url_for('static', filename='js/vendor/bootstrap.js') }}"></script>
    {% block js_btm %}{% endblock %}
    <script src="{{ url_for('static', filename='js/plugins/bootstrap.modal-inline.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script src="{{ url_for('static', filename='js/chat_bot.js') }}"></script>


    {% block ga %}
    {% include "macros/_google_analytics.html" %}
    {% endblock %}
</body>
</html>
