{% extends "governance/layout.html" %}


{% block body %}

<div class="container-fluid">
    <h2>{{ _('Governance') }}</h2>
    <div class="pull-left">
        <h3>{{ _('Meetings') }}</h3>
    </div>
    <div class="pull-right">
        <a class="btn btn-success" href="{{ url_for('governance.add_meeting') }}"><strong>{{ _('Add') }} +</strong></a>
    </div>
    <table id="offline_datatable" class="table">
        <thead>
        <tr>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for meeting in meetings %}

        <tr>
            <td>
                <strong> Meeting on {{ meeting.meeting_date }}</strong> ({{ meeting.stations|join(', ') }})
                <div>
                    <h5> Attendees</h5>
                    <p>{{ meeting.attendees }}</p>
                    <h5>Agenda</h5>
                    <p>{{ meeting.agenda }}</p>
                    <h5>Minutes</h5>
                    <p>{{ meeting.minutes }}</p>
                    <div>
                        <a href="{{ url_for('governance.edit_meeting',meeting_id=meeting.id) }}">{{ _('Edit') }}</a>&nbsp;&nbsp;
                        <a href="{{ url_for('governance.archive_meeting',meeting_id=meeting.id) }}"> {{ _('Archive')
                            }}</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
