{% extends "layouts/base.html" %}
{% set page_title = 'Message Test' %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <form id="message_test" name="message_test">
                <label class="control-label">Topic: </label>
                    <input class="form-control" name="topic" type="text"/>
                <label class="control-label">Message: </label>
                    <input  class="form-control" name="message" type="text" />
                <div class="pull-right">
                    <button class="btn btn-success" type="submit" value="Send" style="margin:10px 0px 10px 10px;">Send</button>
                    <span id="status"></span>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div id="log" class="col-md-8">
            Send Log:<br>
            <textarea readonly class="col-md-8 form-control" style="height:100px;"></textarea>
        </div>
        <div id="errors" class="help-block col-md-4" style="display:none;">
            Error:<br>
            <span class="err_msg" style="color:red;"></span>
        </div>
    </div>
{% endblock %}


{% block js_btm %}

<script type="text/javascript">

$(document).ready(function() {
    $('form#message_test').submit(function(event) {
        event.preventDefault();
        form_data = $('form#message_test').serializeArray();
        
        $.ajax('/messenger/test_ajax/', {
            type: 'POST',
            data: JSON.stringify(form_data, null, '\t'),
            contentType: 'application/json;charset=UTF-8',
            success: function(data, status, xhr) {
                //append to log
                current = $('#log textarea').val();
                line = data.topic + ": " + data.message;
                $('#log textarea').val(line + '\n' + current);

                //clear fields
                $('form#message_test input').val('');
            },
            error: function(xhr, status, err) {
                var errors = xhr.responseJSON.errors;
                $('#errors span.err_msg').html(errors);
                $('#errors').show();
            },
        });
    });
});

</script>

{% endblock %}