APScheduler==2.0.2
Babel==1.3
BeautifulSoup==3.2.1
Fabric==1.7.0
Flask==0.10.1
Flask-Admin==1.5.2
Flask-Assets==0.10
Flask-Babel==0.9
Flask-Cache==0.12
Flask-Excel==0.0.7
Flask-Gravatar==0.5.0
Flask-Login==0.2.6
Flask-Mail==0.9.0
Flask-OpenID==1.2.4
Flask-Restless==0.12.1
Flask-SQLAlchemy==1.0
Flask-Script==0.5.3
Flask-Testing==0.6.1
Flask-WTF==0.9.1
FreeSWITCH-ESL-Python==1.2
Jinja2==2.7.1
Mako==0.8.1
Markdown==2.5.2
MarkupSafe==0.23
Pairtree==0.7.1-T
PyExecJS==1.0.4
PyYAML==5.1
Pygments==2.0.1
Pympler==0.6
RunSnakeRun==2.0.4
SQLAlchemy==0.9.3
SQLAlchemy-Utils==0.25.0
SquareMap==1.0.4
UgliPyJS==0.2.5
WTForms==2.2
WTForms-Alchemy==0.16.7
WTForms-Components==0.9.1
Werkzeug==0.11.4
Yapsy==1.10.423
alembic==0.8.8
anyjson==0.3.3
argparse==1.2.1
arrow==0.13.1
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
blinker==1.3
boto3==1.7.65
botocore==1.10.65
coaster==0.4.1
cycler==0.10.0
decorator==3.4.0
docflow==0.3.1
docutils==0.14
ecdsa==0.11
enum34==1.1.6
et-xmlfile==1.0.1
feedparser==5.2.1
funcsigs==1.0.2
functools32==3.2.3.post2
futures==2.2.0
gevent==1.3.7
gunicorn==19.9.0
infinity==1.3
intervals==0.3.1
ipdb==0.11
ipython==5.7.0
ipython-genutils==0.2.0
isodate==0.5.0
itsdangerous==0.24
jdcal==1.4.1
jmespath==0.9.3
lml==0.0.9
lxml==4.6.3
mem-top==0.1.7
memory-profiler==0.43
nose==1.3.0
numpy==1.12.0
ofs==0.4.2
openpyxl==2.5.14
packaging==17.1
paramiko==1.15.2
pathlib==1.0.1
pathlib2==2.3.2
pbr==1.10.0
pexpect==4.6.0
pickleshare==0.7.4
plivohelper==0.3.5
pluggy==0.7.1
prompt-toolkit==1.0.15
python-magic==0.4.15
psycopg2==2.5.1
psycopg2-binary==2.7.5
ptyprocess==0.6.0
py==1.4.32
pycrypto==2.6.1
pyexcel==0.5.13
pyexcel-handsontable==0.0.2
pyexcel-io==0.5.17
pyexcel-webio==0.1.4
pyexcel-xls==0.5.8
pyexcel-xlsx==0.5.7
pyparsing==2.2.0
pytest==3.0.5
python-dateutil==2.2
python-openid==2.2.5
pytz==2014.10
pyzmq==14.2.0
redis==2.8.0
requests==2.5.1
s3transfer==0.1.13
scandir==1.7
semantic-version==2.3.1
setproctitle==1.1.10
simplegeneric==0.8.1
simplejson==3.6.5
six==1.11.0
sox==1.3.7
speaklater==1.3
subprocess32==3.2.7
suds==0.4
texttable==1.6.1
tox==3.1.2
traitlets==4.3.2
twill==0.9.1
tzlocal==1.1.2
uWSGI==2.0.17.1
urllib3==1.23
validators==0.7
virtualenv==16.0.0
waitress==1.0.1
wcwidth==0.1.7
webassets==0.10.1
wsgiref==0.1.2
xlrd==1.2.0
xlwt==1.3.0
