{% extends "content/layout.html" %}

{% block js_btm %}
    {{ super() }}
{% endblock %}

{% block body %}
<div class="container">
    <h2>{{ _('Content Dashboard') }}</h2>
    <div class="pull-left">
        <h3>{{ _('Community Messages') }}</h3>
    </div>
    <div class="pull-right">
        <a class="btn btn-info" href="{{ url_for('radio.programs') }}"><strong>{{ _('Go to programs') }}</strong></a>
    </div>

    <table id="offline_datatable" class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _('Originator') }}</th>
                <th>{{ _('Date Recorded') }}</th>
                <th>{{ _('Listen') }}</th>
                <th>{{ _('Duration') }}</th>
                <th>{{ _('Message Type') }}</th>
                <th>{{ _('Valid until') }}</th>
                <th>{{ _('Station') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for community_content in community_contents %}
            <tr>
                <td>{{ community_content.originator }}</td>
                <td>{{ community_content.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>
                    <audio preload="metadata" controls>
                        <source src="../../audio-content/community-content/{{community_content.station_id}}/{{community_content.type_code}}/{{community_content.message}}" type="audio/mpeg">
                        <source src="../../audio-content/community-content/{{community_content.station_id}}/{{community_content.type_code}}/{{community_content.message}}" type="audio/ogg">
                        <source src="../../audio-content/community-content/{{community_content.station_id}}/{{community_content.type_code}}/{{community_content.message}}" type="audio/wav">
                    </audio>
                </td>
                <td>{{ community_content.duration }}{{ _(' secs.') }}</td>
                <td >
                   {% if community_content.type_code == 1 %}
                     {{ _('Advertisement') }}
                   {% elif community_content.type_code == 2 %}
                     {{ _('Announcement') }}
                   {% elif community_content.type_code == 3 %}
                     {{ _('Greeting') }}
                   {% endif %}
                </td>
                <td>{{ community_content.valid_until.strftime('%Y-%m-%d') }}</td>
                <td>{{ community_content.station }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
