{% extends "content/layout.html" %}

{% block js_btm %}
    {{ super() }}
    <script>
        $( function() {
            $( "tbody" ).sortable({
                axis: 'y',
                stop: function (event, ui) {
                    var data = $(this).sortable('toArray').toString();
                    // POST to server using $.post or $.ajax
                    $.ajax({
                        data: 'indexes='+ data,
                        type: 'POST',
                        url: 'reorder/',
                    });
                }
            });
        } );
    </script>
{% endblock %}

{% block body %}
<div class="container">
    <h2>{{ _('Content Dashboard') }}</h2>
    <div class="pull-left">
        <h3>{{ _('Ads') }}</h3>
    </div>
    <div class="pull-right">
        <a class="btn btn-success" href="{{ url_for('content.content_ads_add') }}"><strong>{{ _('Add') }} +</strong></a>
    </div>
    <table id="offline_datatable" class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _('Track name') }}</th>
                <th>{{ _('Uploaded date') }}</th>
                <th>{{ _('Listen') }}</th>
                <th>{{ _('File name') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for ad in ads %}
            <tr id="{{ ad.id}}">
                <td>{{ ad.track.name }}</td>
                <td>{{ ad.created_at }}</td>
                <td>
                    <audio preload="metadata" controls>
                        <source src="../../audio-content/{{ ad.uri }}" type="audio/mpeg">
                        <source src="../../audio-content/{{ ad.uri }}" type="audio/ogg">
                        <source src="../../audio-content/{{ ad.uri }}" type="audio/wav">
                    </audio>
                </td>
                </td>
                <td>{{ ad.name }}</td>
                <td><a href="{{ url_for('content.content_ads_edit', ad_id=ad.id) }}">{{ _('Edit') }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
