{% from "macros/_form.html" import render_form %}

{% extends "content/layout.html" %}

{% block body %}
<div class="container">
    {%if content_stream%}
        <h2>{{ _('Edit') }} {{ _('Content Stream') }}</h2>
        {{ render_form(url_for('content.content_stream_definition', content_stream_id=content_stream.id), form) }}
    {%else%}
        <h2>{{ _('Add') }} {{ _('Content Stream') }}</h2>
        {{ render_form(url_for('content.content_stream_add'), form) }}
    {%endif%}
</div>
{% endblock %}
