{% extends "content/layout.html" %}

{% block css_style %}
    <link href="{{ url_for('static', filename='js/vendor/fullcalendar/fullcalendar.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='css/schedule.css') }}" rel='stylesheet' />
{% endblock %}

{% block js_btm %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/vendor/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/moment-timezone.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/moment-timezone-data.js') }}"></script>

    <script src="{{ url_for('static', filename='js/vendor/fullcalendar/fullcalendar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap-formhelpers-timepicker.js') }}"></script>

    <script src="{{ url_for('static', filename='js/vendor/underscore.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/rrule/rrule.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/rrule/nlp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/rrule.recurringinput.js') }}"></script>

    <script src="{{ url_for('static', filename='js/schedule.js') }}"></script>

    <script type="text/javascript">
    $(document).ready(function() {

        var api = ''
        var podcast_id = "0"

        $('#offline_datatable').on('click','a', function(e) {
        podcast_id = $(e.target).attr('data-podcast-id')
        api = '/api/podcast/' + $(e.target).attr('data-podcast-id') +'/downloads'
        $('#podcastDownloadsTitle').html('Files downloaded under '+ $(e.target).attr('data-podcast-name'))
        datatable.ajax.url(api).load()

       });


        var datatable = $('#podcasts').DataTable({
               serverSide: true, searching: true, ajax: api,
                "aoColumnDefs": [{
                   "aTargets": [2], "mRender": function (data, type, row) {
                          var audio_path = '../../audio-content/podcast/' + podcast_id + '/'+ data
                          return '<audio preload="metadata" controls><source src="' +audio_path + '" type="audio/mpeg"><source src="' +audio_path + '" type="audio/ogg"><source src="' +audio_path + '" type="audio/wav"></audio>'
                    }
               }],

        });

        $.fn.dataTableExt.errMode = 'ignore'
    });


    </script>
{% endblock %}


{% block body %}

  <div class="modal fade" id="podcastDownloads-modal" tabindex="-1" role="dialog" aria-labelledby="podcastDownloads" aria-hidden="true" style="display:none;">
    <div class="modal-dialog inline-form" data-url="/radio/scheduleprogram/add/recurring_ajax/" data-prefix="">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="podcastDownloadsTitle">{{ _('Add Recurring Program to Schedule') }}</h4>
        </div>
        <div class="modal-body" style="font-size:12px;">
          <table id="podcasts" class='table table-bordered table-hover'>
          <thead>
            <tr>
                <th>{{ _('Date Created') }}</th>
                <th>{{ _('Summary') }}</th>
                <th>{{ _('Listen') }}</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
         </table>
        </div>

            <div class="modal-footer">
            </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<div class="container-fluid">
    <h2>{{ _('Content Dashboard') }}</h2>
    <div class="pull-left">
        <h3>{{ _('Podcasts') }}</h3>
    </div>
    <div class="pull-right">
        <a class="btn btn-success" href="{{ url_for('content.content_podcast_add') }}"><strong>{{ _('Add') }} +</strong></a>
    </div>
    <table id="offline_datatable" class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _('Podcast name') }}</th>
                <th>{{ _('Description') }}</th>
                <th>{{ _('URL') }}</th>
                <th>{{ _('Downloads') }}</th>
                <th>{{ _('Edit') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for content_podcast in content_podcasts %}
        <tr>
            <td>{{ content_podcast.name }}</td>
            <td>{{ content_podcast.description }}</td>
            <td>{{ content_podcast.uri }}</td>
            <td><a href="#" id="podcastDownloadCount{{ content_podcast.id }}" data-podcast-name="{{ content_podcast.name }}" data-podcast-id="{{ content_podcast.id }}" data-toggle="modal" data-target="#podcastDownloads-modal"> {{ content_podcast.podcast_downloads|length }} {{ _('Files') }}</a></td>
            <td><a href="{{ url_for('content.content_podcast_definition', content_podcast_id=content_podcast.id) }}">{{ _('Edit') }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
