{% extends "content/layout.html" %}

{% block body %}
<div class="container">
    <h2>{{ _('Content Dashboard') }}</h2>
    <div class="pull-left">
        <h3>{{ _('News') }}</h3>
    </div>
    <div class="pull-right">
        <a class="btn btn-success" href="{{ url_for('content.content_news_add') }}"><strong>Add +</strong></a>
    </div>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _('Track name') }}</th>
                <th>{{ _('Uploaded date') }}</th>
                <th>{{ _('Listen') }}</th>
                <th>{{ _('File name') }}</th>
                <th></th>
            </tr>
        </thead>
        {% for content_upload in content_news %}
        <tr>
            <td>{{ content_upload.content_tracks.name }}</td>
            <td>{{ content_upload.created_at }}</td>
            <td>
                 <audio controls>
                    <source src="../../media/{{ content_upload.uri }}" type="audio/mpeg">
                    <source src="../../media/{{ content_upload.uri }}" type="audio/ogg">
                    <source src="../../media/{{ content_upload.uri }}" type="audio/wav">
                </audio>
            </td>
            <td>{{ content_upload.name }}</td>
            <td><a href="{{ url_for('content.content_news_edit', content_news_id=content_upload.id) }}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}