{% extends "content/layout.html" %}

{% block css_style %}
    <link href="{{ url_for('static', filename='js/vendor/fullcalendar/fullcalendar.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='css/schedule.css') }}" rel='stylesheet' />
{% endblock %}

{% block js_btm %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/vendor/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/moment-timezone-with-data.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/vendor/fullcalendar/fullcalendar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap-formhelpers-timepicker.js') }}"></script>

    <script src="{{ url_for('static', filename='js/vendor/underscore.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/rrule/rrule.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/rrule/nlp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/rrule.recurringinput.js') }}"></script>

    <script src="{{ url_for('static', filename='js/schedule.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ajax-buttons.js') }}"></script>

    <script type="text/javascript">

    $(document).ready(function() {
      var api = ""
      var list_type = ""
      var playlist_id = 0

      $('#offline_datatable').on('click', function(e) {
        $('#playlistTitle').html($(e.target).attr('data-item-type') + ' on playlist '+ $(e.target).attr('data-playlist-name'))
        list_type = $(e.target).attr('data-item-type')
        playlist_id = $(e.target).attr('data-playlist-id')
        api = '/content/playlist/'+ $(e.target).attr('data-playlist-id') + '/' + $(e.target).attr('data-item-type')
        datatable.ajax.url(api).load()
        });


      var datatable = $('#playlist').DataTable({
               serverSide: true, searching: true, ajax: api,
               "aoColumnDefs": [{
                   "aTargets": [2], "mRender": function (data, type, row) {
                          return '<input id="' + list_type + row[0] + '" data-item-type="'+list_type+'" data-item-id="'+ row[0] +'" type="checkbox"' + (data ? 'checked' : '') + '/>'
                    }
               }],
               "drawCallback": function(e, o){
                   $('[id^='+ list_type +']').change(function(f){
                   var url = '/content/playlist/'+ playlist_id +'/'+(this.checked ? 'add' : 'remove')+'/'+ list_type+'/'+ $(f.target).attr('data-item-id')
                   $.getJSON(url).done(function(myData) {
                   //in future display success message
                  });
                });
             }
      });

    $.fn.dataTableExt.errMode = 'ignore'

    });
//TO-DO
//1) what to do with 'songs' on songs?
    </script>
{% endblock %}


{% block body %}

  <div class="modal fade" id="playlists-modal" tabindex="-1" role="dialog" aria-labelledby="playlist" aria-hidden="true" style="display:none;">
    <div class="modal-dialog inline-form" data-url="/radio/scheduleprogram/add/recurring_ajax/" data-prefix="">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="playlistTitle">{{ _('Add Recurring Program to Schedule') }}</h4>
        </div>
        <div class="modal-body" style="font-size:12px;">
          <table id="playlist" class='table table-bordered table-hover'>
          <thead>
            <tr>
                <th>{{ _('ID') }}</th>
                <th>{{ _('Title') }}</th>
                <th>{{ _('Is Included') }}</th>
                <th>{{ _('Songs/Duration') }}</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
         </table>
        </div>

            <div class="modal-footer">
            </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<div class="container-fluid">
    <h2>{{ _('Content Dashboard') }}</h2>
    <div class="pull-left">
        <h3>{{ _('Playlists') }}</h3>
    </div>
    <div class="pull-right">
        <a class="btn btn-success" href="{{ url_for('content.content_musicplaylist_add') }}"><strong>{{ _('Add') }} +</strong></a>
        <a class="btn btn-info" href="{{ url_for('radio.list_music_programs') }}"><strong>{{ _('Go to music programs') }}</strong></a>
    </div>
    <table id="offline_datatable" class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _('Station') }}</th>
                <th>{{ _('Playlist') }}</th>
                <th>{{ _('Description') }}</th>
                <th>{{ _('Songs') }}</th>
                <th>{{ _('Albums') }}</th>
                <th>{{ _('Artists') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for content_musicplaylist in content_musicplaylists %}
          {% if not content_musicplaylist.deleted %}
            <tr>
              <td>{{ content_musicplaylist.station }}</td>
              <td>{{ content_musicplaylist.playlist }}</td>
              <td>{{ content_musicplaylist.description }}</td>
              <td><a href="#" id="playlistCount" data-playlist-name="{{ content_musicplaylist.playlist }}" data-playlist-id="{{ content_musicplaylist.id }}" data-item-type="songs" data-toggle="modal" data-target="#playlists-modal"> {{ content_musicplaylist.songs }} {{ _('Songs') }}</a></td>
              <td><a href="#" id="playlistCountAlbums{{ content_musicplaylist.id }}" data-playlist-name="{{ content_musicplaylist.playlist }}" data-playlist-id="{{ content_musicplaylist.id }}" data-item-type="albums" data-toggle="modal" data-target="#playlists-modal"> {{ content_musicplaylist.albums }} {{ _('Albums') }}</a></td>
              <td><a href="#" id="playlistCount{{ content_musicplaylist.id }}" data-playlist-name="{{ content_musicplaylist.playlist }}" data-playlist-id="{{ content_musicplaylist.id }}" data-item-type="artists" data-toggle="modal" data-target="#playlists-modal"> {{ content_musicplaylist.artists }} {{ _('Artists') }}</a></td>
              <td>
                <button class='button-delete btn btn-danger' onclick="deleteTableItem(this, {{content_musicplaylist.id}})" id='delete-{{content_musicplaylist.id}}'>Delete</button>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
