{% extends "content/layout.html" %}

{% block body %}
<div class="container">
    <h2>{{ _('Content Dashboard') }}</h2>
    <div class="pull-left">
        <h3>{{ _('Streams') }}</h3>
    </div>
    <div class="pull-right">
        <a class="btn btn-success" href="{{ url_for('content.content_streams_add') }}"><strong>Add +</strong></a>
    </div>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _('Track name') }}</th>
                <th>{{ _('Uploaded date') }}</th>
                <th>{{ _('URL') }}</th>
                <th>{{ _('File name') }}</th>
                <th></th>   
            </tr>
        </thead>
        {% for content_stream in content_streams %}
        <tr>
            <td>{{ content_stream.content_tracks.name }}</td>
            <td>{{ content_stream.created_at }}</td>
            <td><a href="{{ content_stream.uri }}">{{ content_stream.uri }}</td>
            <td>{{ content_stream.name }}</td>
            <td><a href="{{ url_for('content.content_stream', content_streams_id=content_stream.id) }}">Edit</a></td> 
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}