{% extends "layouts/base.html" %}

{% set page_header = _(active) %}
{% set page_title = page_header %}

{% set tab_title = "Content" %}
{% set tabs = [
    (_("Status"), url_for('content.index')),
    (_("Tracks"), url_for('content.list_tracks')),
    (_("News"), url_for('content.list_content_news')),
    (_("Community Notices"), url_for('content.community_content')),
    (_("Ads"), url_for('content.list_content_ads')),
    (_("Hosts"), url_for('content.list_hosts')),
    (_("Streams"), url_for('content.list_content_streams')),
    (_("Podcasts"), url_for('content.list_content_podcasts')),
    (_("Playlists"), url_for('content.content_music_playlists'))
]%}
