{% extends "content/layout.html" %}

{% block js_btm %}
{{ super() }}
<script src="{{ url_for('static', filename='js/ajax-buttons.js') }}"></script>
<script>
 $(document).ready(function() {
   $('#show_only').change(function() {
     var network = $(this).val();
     var url = window.location.href.split('?')[0];
     if (network === '*') {
       window.location = url;
     } else {
       window.location = url + '?show_only=' + network;
     }
   });
 });
</script>
{% endblock %}

{% block body %}
<div class="container">
    <h2>{{ _('Content Dashboard') }}</h2>
    <div class="pull-left">
        <h3>{{ _('Tracks') }}</h3>
        <br/>
        Network: 
        <select id="show_only" name="show_only">
          <option value="*">All</option>
          {% for network in networks %}
          {% if show_only|string() == network.id|string() %}
          <option value="{{ network.id }}" selected>{{ network.name }}</option>
          {% else %}
          <option value="{{ network.id }}">{{ network.name }}</option>
          {% endif %}
          {% endfor %}
        </select>
    </div>
    <div class="pull-right">
        <a class="btn btn-success" href="{{ url_for('content.track_add') }}"><strong>{{ _('Add') }} +</strong></a>
        <a class="btn btn-info" href="{{ url_for('radio.programs') }}"><strong>{{ _('Go to programs') }}</strong></a>
    </div>
    <table id="offline_datatable" class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Networks') }}</th>
                <th>{{ _('Description') }}</th>
                <th>{{ _('Content Type') }}</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        {% for track in tracks %}
          {% if not track.deleted %}
            <tr>
                <td>{{ track.name }}</td>
                <td>{{ track.networks | join(', ') }}</td>
                <td>{{ track.description }}</td>
                <td>{{ track.content_type }}</td>
                <td><a href="{{ url_for('content.list_track_files', track_id=track.id) }}">{{track.track_uploads|rejectattr('deleted')|list|length}} {{ _('Files') }}</a></td>
                <td><a href="{{ url_for('content.track', track_id=track.id) }}">{{ _('Edit') }}</a></td>
                <td>
                  <button class='button-delete btn btn-danger' onclick="deleteTableItem(this, {{track.id}})" id='delete-{{track.id}}'>Delete</button>
                </td>
            </tr>
          {% endif %}
        {% endfor %}
    </table>
</div>
{% endblock %}
