{% extends "content/layout.html" %}

{% set warning_color = '#ffff9f' %}
{% set ok_color = '#99ff99' %}

{% block js_btm %}
{{ super() }}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap2-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap2-toggle.min.js"></script>
<script>

$( function() {
  $('#empty-track-button').click(function(){
    bootbox.confirm("Are you sure want to empty this track?", function(result) {
      if (result) {
        window.location = "{{ url_for('content.track_files_empty', track_id=track.id ) }}";
      }
    });
  });
  $('.button-delete').click(function(){
    var el = this;
    var id = this.id;
    var splitid = id.split("-");

    // Delete id
    var deleteid = splitid[1];

    // Confirm box
    bootbox.confirm("Are you sure want to delete?", function(result) {
      if(result){
        // AJAX Request
        $.ajax({
          url: 'files/delete/'+deleteid,
          type: 'GET',
          success: function(response){
            $(el).closest('tr').css('background','tomato');
            $(el).closest('tr').fadeOut(500, function(){
              $(this).remove();
            });
          }
        });
      }
    });
  });

  $('#toggle-play').change(function() {
    // AJAX Request
    $.ajax({
      url: "{{ url_for('content.track_toggle_play', track_id=track.id ) }}",
      type: 'GET',
      success: function(){
        toastr["success"]("Playback mode changed!");
      },
      error: function(){
        toastr["error"]("Cannot change playback mode!");
      }
    });
  })

  $( "tbody" ).sortable({
    axis: 'y',
    placeholder: "sortable-placeholder",
    handle: ".grippy",
    cursor: "move",
    delay: 100,
    stop: function (event, ui) {
      var data = $(this).sortable('toArray').toString();
      console.log(data);
      // POST to server using $.post or $.ajax
      $.ajax({
        data: 'indexes='+ data,
        type: 'POST',
        url: 'reorder/',
        error: function() {
          toastr["error"]("Reordering error!")
        },
        success: function() {
          toastr["success"]("Media reordered!")
        }
      });
    }
  });
  $( "tbody" ).disableSelection();
});
</script>
{% endblock %}

{% block body %}

<div class="container">
    <h2>{{ _('Content Dashboard') }}</h2>
    <div class="pull-left">
        <h3>{{ _('Track contents') }} ({{track.name}})</h3>
    </div>
    <div class="pull-right">

      <input type="checkbox" id="toggle-play"
        {% if track.continuous_play %} checked {% endif %}
        data-toggle="toggle" data-on="Play continuously" data-off="Play episodes" data-onstyle="success" data-offstyle="danger" data-height="20" data-width="130">

        <a class="btn btn-success" href="{{ url_for('content.track_files_add', track_id=track.id ) }}"><strong>{{ _('Add') }} +</strong></a>
        <a class="btn btn-info" href="{{ url_for('radio.programs') }}"><strong>{{ _('Go to programs') }}</strong></a>
        <a class="btn btn-danger" id="empty-track-button" href="#"><i class="fas fa-trash"></i> <strong>{{ _('Empty this track') }}</strong></a>
    </div>
    <table id="offline_datatable" class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _('#') }}</th>
                <th>{{ _('File name') }}</th>
                <th>{{ _('Uploaded date') }}</th>
                <th>{{ _('Listen') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          {% for media in track.files %}

            {% if not media.deleted %}
              <tr id="{{ media.id }}">
                <td><span class="grippy"></span>{{ media.order }}</td>
                <td>{{ media.name }}</td>
                <td>{{ media.created_at.strftime('%Y-%m-%d %H:%m') }}</td>
                <td>
                  <audio preload="metadata" controls>
                    {% if media.is_remote %}
                      <source src="{{ media.uri }}" type="audio/mpeg">
                      <source src="{{ media.uri }}" type="audio/ogg">
                      <source src="{{ media.uri }}" type="audio/wav">
                    {% else %}
                      <source src="/audio-content/{{ media.uri|replace(content_dir, '') }}" type="audio/mpeg">
                      <source src="/audio-content/{{ media.uri|replace(content_dir, '') }}" type="audio/ogg">
                      <source src="/audio-content/{{ media.uri|replace(content_dir, '') }}" type="audio/wav">
                    {% endif %}
                  </audio>
                </td>
                <td>
                  <button class='button-delete btn btn-danger' id='delete-{{media.id}}'><i class="fas fa-trash"></i> Delete</button>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
    </table>
</div>

<div class="row">
  <dov class="span10 pull-1">
    <small>Note: you can reorder files by dragging and dropping them. The "order" column will only show the updated numbers upon a page refresh.</small>
  </dov>
</div>
{% endblock %}
