{% extends 'layouts/base.html' %}

{% set page_title = 'Home' %}

{% block body %}
<div class="container">
    <div class="jumbotron" style="margin: 20px">
        <h1>RootIO</h1>
        <h3>Interface V2</h3>
        <p>{% trans %}a loosely-integrated, content-agnostic “solution stack” for peer-oriented radio networks {%endtrans%}</p>
        <p><a href="{{ url_for('frontend.login')}}" class="btn btn-success btn-large" style="background-color: #009688; border-color: white"><strong>{{ _('Demo') }} »</strong></a></p>
    </div>
</div>
{% endblock %}
