{% extends "admin/layout.html" %}

{% block body %}
<div class="container">
    <h2 class="pull-left">Program Types</h2>
    <div class="pull-right">
        <a class="btn btn-success" href="{{ '#' }}"><strong>Add +</strong></a>
    </div>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Definition</th>
                <th></th>
            </tr>
        </thead>
        {% for program_type in program_types %}
        <tr>
            <td>{{ program_type.name }}</td>
            <td>{{ program_type.description }}</td>
            <td>{{ program_type.definition }}</td>
            <td><a href="{{ url_for('admin.program_type', program_type_id=program_type.id) }}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
