{% set critical_color = '#ff9292' %}
{% set warning_color = '#ffff9f' %}
{% set ok_color = '#99ff99' %}

{% if analytics %}
{% if analytics.battery_level[-1] <= 60 %}   {% set battery_color = warning_color %} {% set battery_level_img = 'battery_medium.png' %}
{% elif analytics.battery_level[-1] <= 30 %} {% set battery_color = critical_color %} {% set battery_level_img = 'battery_low.png' %}
{% else %}                                   {% set battery_color = ok_color %} {% set battery_level_img = 'battery_ok.png' %} {% endif %}

{% if analytics.gsm_signal_1[-1] <= 60 %}   {% set gsm_color_1 = warning_color %} {% set network_level_1_img = 'network_medium.png' %}
{% elif analytics.gsm_signal_1[-1] <= 30 %} {% set gsm_color_1 = critical_color %} {% set network_level_1_img = 'network_low.png' %}
{% else %}                                {% set gsm_color_1 = ok_color %} {% set network_level_1_img = 'network_ok.png' %} {% endif %} 

{% if analytics.gsm_signal_2[-1] <= 60 %}   {% set gsm_color_2 = warning_color %} {% set network_level_2_img = 'network_medium.png' %}
{% elif analytics.gsm_signal_2[-1] <= 30 %} {% set gsm_color_2 = critical_color %} {% set network_level_2_img = 'network_low.png' %}
{% else %}                                {% set gsm_color_2 = ok_color %} {% set network_level_2_img = 'network_ok.png' %} {% endif %} 

{% if analytics.gsm_network_type_1[-1] <= 60 %}   {% set gsm_network_type_1 = warning_color %}
{% elif analytics.gsm_network_type_1[-1] <= 30 %} {% set gsm_network_type_1 = critical_color %}
{% else %}                                {% set gsm_network_type_1 = ok_color %} {% endif %}

{% if analytics.wifi_connectivity[-1] <= 60 %}   {% set wifi_color = warning_color %} {% set wifi_level_img = 'network_medium.png' %}
{% elif analytics.wifi_connectivity[-1] <= 30 %} {% set wifi_color = critical_color %} {% set wifi_level_img = 'network_low.png' %}
{% else %}                                       {% set wifi_color = ok_color %} {% set wifi_level_img = 'network_ok.png' %} {% endif %} 

{% if analytics.memory_utilization[-1] >= 80 %}   {% set memory_color = critical_color %}
{% elif analytics.memory_utilization[-1] >= 50 %} {% set memory_color = warning_color %}
{% else %}                                        {% set memory_color = ok_color %} {% endif %}

{% if analytics.storage_usage[-1] >= 80 %}   {% set storage_color = critical_color %}
{% elif analytics.storage_usage[-1] >= 50 %} {% set storage_color = warning_color %}
{% else %}                                   {% set storage_color = ok_color %} {% endif %}

{% if analytics.cpu_load[-1] >= 80 %}   {% set cpu_color = critical_color %}
{% elif analytics.cpu_load[-1] >= 50 %} {% set cpu_color = warning_color %}
{% else %}                              {% set cpu_color = ok_color %} {% endif %}

{% if station.last_accessed_mobile%}
  {% set last_ping_interval = (now() - station.last_accessed_mobile).total_seconds() %}
  {% if last_ping_interval > (station.analytic_update_frequency * 2) %}
    {% set ping_color = critical_color %}
  {% elif last_ping_interval > station.analytic_update_frequency %}
    {% set ping_color = warning_color %}
  {% else %}
    {% set ping_color = ok_color %}
  {% endif %}
{% else %}
  {% set last_ping_interval = 0 %}
{% endif %}
{% endif %}

<tr>
  <td>{{network.name}}</td>
  <td>{{station.name}}</td>
  <td style="background-color: {{battery_color}};">
    {% if analytics %}    <img src="{{ url_for('static', filename='img/radio/' + battery_level_img ) }}" width="25" height="25"/> {% endif %}
  </td>
  <td style="background-color: {{gsm_color_1}};">
    {% if analytics %}    <img src="{{ url_for('static', filename='img/radio/' + network_level_1_img ) }}" width="25" height="25"/> {% endif %}
  </td>
  <td style="background-color: {{gsm_color_2}};">
    {% if analytics %}    <img src="{{ url_for('static', filename='img/radio/' + network_level_2_img ) }}" width="25" height="25"/> {% endif %}
  </td>
  <td style="background-color: {{gsm_network_type_color_1}};">
    {% if analytics %}{{analytics.gsm_network_type_1[-1] | upper}}{% endif %}</td>
  <td style="background-color: {{gsm_network_type_color_2}};">
    {% if analytics %}{{analytics.gsm_network_type_2[-1] | upper}}{% endif %}</td>

  <td style="background-color: {{wifi_color}};">
    {% if analytics %}    <img src="{{ url_for('static', filename='img/radio/' + wifi_level_img ) }}" width="25" height="25"/> {% endif %}
  </td>
  <td style="background-color: {{memory_color}};">
    <span class="sparkline" data-type="line">{% if analytics %}{{analytics.memory_utilization}}{% endif %}</span></td>
  <td style="background-color: {{storage_color}};">
    <span class="sparkline" data-type="line">{% if analytics %}{{analytics.storage_usage}}{% endif %}</span></td>
  <td style="background-color: {{cpu_color}};">
    <span class="sparkline" data-type="line">{% if analytics %}{{analytics.cpu_load}}{% endif %}</span></td>
  <td style="background-color: {{ping_color}};">
    {% if analytics %}{{last_ping_interval | int}} <small>({{station.analytic_update_frequency | int}})</small>{% endif %}
  </td>
</tr>
