{% from "macros/_form.html" import render_form, render_field %}

{% extends "radio/layout.html" %}

{% block css_style %}
    <link href="{{ url_for('static', filename='css/vendor/bootstrap-formhelpers.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='css/block.css') }}" rel='stylesheet' />
{% endblock %}

{% block js_btm %}
    {{ super() }}

    <script src="{{ url_for('static', filename='js/vendor/bootstrap-formhelpers-timepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/underscore.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/rrule/rrule.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/rrule/nlp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/rrule.recurringinput.js') }}"></script>

    <script src="{{ url_for('static', filename='js/bot.js') }}"></script>
{% endblock %}


{% block body %}
<div class="container">
   {%if bot%}
        <h2>{{ _('Edit') }} {{ _('Block') }}</h2>
    {%else%}
        <h2>{{ _('Add') }} {{ _('Block') }}</h2>
    {%endif%}

    <form method="POST" action="{%if bot%}{#{url_for('radio.scheduled_block', block_id=scheduled_block.id)}#}
                                {%else%}{{ url_for('radio.new_bot_add') }}{%endif%}" >
        {{ form.hidden_tag() }}
        {% if bot %}
            {#TODO these fields must be disabled #}
            {{ render_field(form, form.bot_belongs_to_station) }}
            {{ render_field(form, form.function_of_bots) }}
        {% else %}
            {{ render_field(form, form.bot_belongs_to_station) }}
            {{ render_field(form, form.function_of_bots) }}
        {% endif %}
        {{ render_field(form, form.state) }}
        {{ render_field(form, form.source_url) }}
        {{ render_field(form, form.local_url) }}

        <div class="control-group">
            <label class="control-label " for="run_frequency">
                <label for="run_frequency">Recurrence</label>
            </label>
            <div class="controls">
                <!-- common schedules -->

                    <!--<label><input type="radio" name="preset-recurrence" value="SEC"/> {{ _('Secondly') }}</label>-->
                    <label><input type="radio" name="preset-recurrence" value="MIN"/> {{ _('Minutely') }}</label>
                    <label><input type="radio" name="preset-recurrence" value="HOUR"/> {{ _('Hourly') }}</label>
                    <label><input type="radio" name="preset-recurrence" value="DAY"/> {{ _('Daily') }}</label>
                    <label><input type="radio" name="preset-recurrence" value="WEEEk" /> {{ _('Weekly') }}</label>
                    <!--<label><input type="radio" name="preset-recurrence" value="custom" /> {{ _('Custom') }}</label>
                    <div id="recurringinput">-->
                        <!-- custom user inputs created here by rrule.recurringinput.js -->
                    <!--</div>-->
            </div>
        </div>

        {{ render_field(form, form.submit) }}
    </form>
</div>
{% endblock %}