{% extends "radio/layout.html" %}

{% block css_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/leaflet/leaflet.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recorder/style.css') }}" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/leaflet/leaflet.ie.css') }}" />
<![endif]-->
    <link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/leaflet/leaflet.awesome-markers.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/leaflet/locationfilter/locationfilter.css') }}">
    <style>#map { min-height: 400px; border:1px solid #ddd; margin-bottom:20px; }

    /*hide select within zoom for demo*/
    .leaflet-container div.location-filter.button-container a.adjust-button {display:none;}
    </style>
{% endblock %}

{% block js_top %}
    <script src="{{ url_for('static', filename='js/vendor/leaflet/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/leaflet/leaflet.awesome-markers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/leaflet/locationfilter/locationfilter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/recorder/audiodisplay.js') }}"></script>
    <script src="{{ url_for('static', filename='js/recorder/recorderjs/recorder.js') }}"></script>
    <script src="{{ url_for('static', filename='js/recorder/main.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <h2>{{ _('Emergency Broadcast') }}</h2>

            <h3>{{ _('Stations') }}</h3>
            <div id="map" class="span8"></div>

            <div class="span3">
                <h4>{{ _('Send Message') }}</h4>
                <form id="flash-message" action="post">
                    <ul id="station-list">
                        {%for s in stations%}
                            <li><label><input name="{{s.id}}" type="checkbox"/> {{s.name}}</label></li>
                        {%endfor%}
                        <li><a href="#" id="all">All / None</a></li>
                    </ul>
                    <input type="text" placeholder="type message here"/>

                    <button class="btn btn-primary" onclick="toggleRecording(this);" type="button" id="record_button"><i class="icon-play-circle icon-white"></i> Record</button>

                    <a href="#" class="btn btn-warning" id="send_button">{% trans %} Send {% endtrans %}&rarr;</a>
                </form>
                <div id="viz">
                    <canvas id="analyser" width="102" height="50"></canvas><br/>
                    <span id="audio_player"></span><br/>
                    <canvas id="wavedisplay" width="102" height="50" class="hidden"></canvas>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block js_btm %}
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script>
        //overrides for demo
        function stationsToLayer(feature, latlng) {
            return L.marker(latlng, {
                icon: L.AwesomeMarkers.icon({
                    icon: "exclamation-sign",
                    color: 'red'
                })
            });
        }

        function stationPopup(feature, layer) {
            if (feature.properties) {
                var popupContent = '<h4>'+feature.properties.name+'</h4><ul class="status">';
                if (feature.properties.languages) {
                    var language_names = [];
                    $.each(feature.properties.languages, function(i,lang) {
                        language_names.push(lang.name);
                    });
                    popupContent += '<li>Language: '+language_names.join()+'</li>';
                }
                if (feature.properties.status) {
                    popupContent += '<li>Status: '+feature.properties.status+'</li>';
                }
                if (feature.properties.popupContent) {
                    popupContent += '<li>'+feature.properties.popupContent+'</li>';
                }
                popupContent += "</ul>";
                layer.bindPopup(popupContent);
            }
        }
        var locationFilter = new L.LocationFilter().addTo(map);
    </script>
{% endblock %}