{% extends "radio/layout.html" %}

{% block css_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/leaflet/leaflet.css') }}" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/leaflet/leaflet.ie.css') }}" />
<![endif]-->
<link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/leaflet/leaflet.awesome-markers.css') }}">
<style>#map { min-height: 300px; border:1px solid #ddd; margin-bottom:20px; }</style>
{% endblock %}

{% block js_top %}
<script src="{{ url_for('static', filename='js/vendor/leaflet/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/leaflet/leaflet.awesome-markers.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
        <h2>{{ _('Radio Dashboard') }}</h2>

        <h3>{{ _('Stations') }}</h3>
        <div id="map" class="span4"></div>

        <div class="span6">
            <table class='table table-bordered table-hover'>
            <thead>
                <tr>
                    <th>{{ _('Name') }}</th>
                    <th>{{ _('Battery') }}</th>
                    <th>{{ _('CPU Load') }}</th>
                    <th>{{ _('Memory') }}</th>
                    <th>{{ _('Storage') }}</th>
                    <th>{{ _('GSM Connection') }}</th>
                    <th>{{ _('Headphone Plug') }}</th>
                </tr>
            </thead>
            {%for station in stations %}
            {% set analytics = station.recent_analytics() %}
            <tr>
                <td>{{station.name}}</td>
                <td><span class="sparkline">{{analytics.battery_level}}</span></td>
                <td><span class="sparkline">{{analytics.cpu_load}}</span></td>
                <td><span class="sparkline">{{analytics.memory_utilization}}</span></td>
                <td><span class="sparkline">{{analytics.storage_usage}}</span></td>
                <td><span class="sparkline">{{analytics.gsm_connectivity}}</span></td>
                <td><span class="sparkline">{{analytics.headphone_plug}}</span></td>
            </tr>
            {%endfor%}
            </table>
        </div>
        
    </div>
</div>
{% endblock %}

{% block js_btm %}
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.sparkline.min.js') }}"></script>
<script>
    $(document).ready(function() {
        //strip python [] from the values
        $('.sparkline').each(function() {
            var cleaned = $(this).html().replace('[','').replace(']','');
            $(this).html(cleaned);
        });
        $('.sparkline').sparkline('html');
    });
</script>
{% endblock %}