{% extends "radio/layout.html" %}

{% block css_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/leaflet/leaflet.css') }}" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/leaflet/leaflet.ie.css') }}" />
<![endif]-->
<link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/leaflet/leaflet.awesome-markers.css') }}">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
<style>#map { min-height: 200px; border:1px solid #ddd; margin-bottom:20px; }</style>
{% endblock %}

{% block js_top %}
<script src="{{ url_for('static', filename='js/vendor/leaflet/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/leaflet/leaflet.awesome-markers.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery-1.9.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/progressbar.js-master/main/progressbar.js') }}" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function() {
      $('.heading').click(function(){
     $(this).toggleClass('expand').nextUntil('tr.heading').slideToggle(100);
    });
  });


function renderProgress(progress, container) {
var bar = new ProgressBar.Circle(document.getElementById(container), {
  color: '#444',
  // This has to be the same size as the maximum width to
  // prevent clipping
  strokeWidth: 8,
  trailWidth: 8,
  easing: 'easeInOut',
  duration: 1400,
  text: {
    autoStyleContainer: false
  },
  from: { color: '#afa', width: 8 },
  to: { color: '#faa', width: 8 },
  // Set default step function for all animate calls
  step: function(state, circle) {
    circle.path.setAttribute('stroke', state.color);
    circle.path.setAttribute('stroke-width', state.width);

    var value = Math.round(circle.value() * 100);
    if (value === 0) {
      circle.setText('');
    } else {
      circle.setText(value+'%');
    }

  }
});

bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
bar.text.title = Math.round(progress) + "% used";
bar.text.style.fontSize = '10px';

bar.animate(progress *1.0/100);  // Number from 0.0 to 1.0
}
</script>

<style type="text/css">
table, tr, td, th {
  /*border: 1px solid black;*/
  border-collapse: collapse;
}

tr.heading {
  cursor: pointer;
  background-color: #EEEEEE;
}

.heading .sign:after {
  content: "+";
  display: inline-block;
}

.heading.expand .sign:after {
  content: "-";
}

.pb_container {
  width: 30px;
  height: 30px;
  position: Absolute;
}
</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row-fluid">
    <div class="pull-right">
        {% if current_user.role_code ==  0 or current_user.role_code ==  1 %}
        <a class="btn btn-success" href="{{ url_for('radio.network_add') }}"><strong>{{ _('Create Network') }} +</strong></a>
        {% endif %}
    </div>
        <h2>{% trans %} Stations {% endtrans %}</h2>
        <div id="map" class="span12"></div>

        {% if invitations|length > 0 %}
        <div class="pull-left">
        <h4>{{ _('**Pending Invitations') }}</h4>
    </div>
        <div class="span12">
             <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _('Invited by') }}</th>
                <th>{{ _('Invitation Date') }}</th>
                <th>{{ _('Role') }}</th>
                <th>{{ _('Network') }}</th>
                <th>{{ _('Action') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for i in invitations %}
        <tr>
            <td>{{ i.invited_by.name }}</td>
            <td>{{ i.created_time }}</td>
            <td>{{ i.role }}</td>
            <td>{{ i.network.name }}</td>
            <td>  <a href="{{ url_for('radio.act_on_invitation', id=i.id, action='accept') }}">Accept</a> or <a href="{{ url_for('radio.act_on_invitation', id=i.id, action='reject') }}">Reject</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
        </div>
        {% endif %}
        <div class="span12">
            <table class='table table-bordered'>
            <thead>
                <tr>
                    <th rowspan="2">{{ _('Network') }}</th>
                    <th rowspan="2">{{ _('Station') }}</th>
                    <th rowspan="2">{{ _('Battery') }}</th>
                    <th colspan="2">{{ _('GSM Signal') }}</th>
                    <th rowspan="2">{{ _('WiFi Network') }}</th>
                    <th rowspan="2">{{ _('Memory') }}</th>
                    <th rowspan="2">{{ _('Storage') }}</th>
                    <th rowspan="2">{{ _('CPU ') }}</th>
                    <th rowspan="2">{{ _('Last ping') }}</th>
                </tr>
                <tr>
                  <th>SIM 1</th>
                  <th>SIM 2</th>
                </tr>
            </thead>
            {%for network in networks %}
              <tr  class="heading expand">
                <th colspan="12"><span class="sign"></span> {{network.name}}</th>
              </tr>
              {% if network.stations %}
                {%for station in network.stations %}
                {% set analytics = station.recent_analytics() %}
                  {% with station=station, network=network, analytics=analytics %}
                    {% include 'radio/_analytics.html' %}
                  {% endwith %}
                {%endfor%}
              {% else %}
                <tr>
                  <td colspan="8">
                    <a href="{{ url_for('radio.station_add') }}">{{ _('Add a station to this network') }}</a>
                  </td>
                </tr>
              {% endif %}
            {%endfor%}
            </table>
        </div>

    </div>
</div>
{% endblock %}

{% block js_btm %}
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.sparkline.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
