{% extends "layouts/base.html" %}

{% block css_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/leaflet/leaflet.css') }}" />
<!--[if lte IE 8]>-->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/leaflet/leaflet.ie.css') }}" />-->
<!--<![endif]>-->
<link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/leaflet/leaflet.awesome-markers.css') }}">
<style>#map { min-height: 250px; border:1px solid #ddd; margin-bottom:20px; z-index: -1; }</style>
{% endblock %}

{% block js_top %}
<script src="{{ url_for('static', filename='js/vendor/leaflet/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/leaflet/leaflet.awesome-markers.js') }}"></script>

{% endblock %}

{% set page_title = "Radio Dashboard" %}

{% block body %}
<!--<div class="container-fluid">-->
    <div class="row">
        <div id="map" class="col-md-12"></div>
    </div>
    <div class="row">
               <table id="table-pager-radio-dash" class='table table-hover table-condensed table-striped col-md-12'>
                <thead>
                    <tr>
                        <th>{{ _('Name') }}</th>
                        <th>{{ _('Battery') }}</th>
                        <th>{{ _('GSM Signal') }}</th>
                        <th>{{ _('WiFi Network') }}</th>
                        <th>{{ _('Memory') }}</th>
                        <th>{{ _('Storage') }}</th>
                        <th>{{ _('CPU ') }}</th>
                        <th>{{ _('Audio Plug') }}</th>
                    </tr>
                </thead>
                {%for station in stations %}
                {% set analytics = station.recent_analytics() %}
                <tr>
                    <td>{{station.name}}</td>
                    <td><span class="sparkline" data-type="line">{{analytics.battery_level}}</span></td>
                    <td><span class="sparkline" data-type="line">{{analytics.gsm_signal}}</span></td>
                    <td><span class="sparkline" data-type="boolean">{{analytics.wifi_connected}}</span></td>
                    <td><span class="sparkline" data-type="line">{{analytics.memory_utilization}}</span></td>
                    <td><span class="sparkline" data-type="line">{{analytics.storage_usage}}</span></td>
                    <td><span class="sparkline" data-type="line">{{analytics.cpu_load}}</span></td>
                    <td><span class="sparkline" data-type="boolean">{{analytics.headphone_plug}}</span></td>
                </tr>
                {%endfor%}
                </table>
            </div>
        <!--</div>-->
    </div>
{% endblock %}

{% block js_btm %}
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.sparkline.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}



