{% extends "layouts/base.html" %}

{% set page_header = _(active|capitalize) %}
{% set page_title = page_header %}

{% set tab_title = "Radio" %}
{% set tabs = [
    (_("Status"), url_for('radio.index')), 
    (_("Stations"), url_for('radio.stations')),
    (_("Networks"), url_for('radio.networks')),
    (_("People"), url_for('radio.people')),
    (_("Programs"), url_for('radio.programs')),
    (_("Blocks"), url_for('radio.scheduled_blocks')),
    (_("Schedule"), url_for('radio.schedule')),
]%}
