{% extends "layouts/base.html" %}

{% set page_header = _(active|capitalize) %}
{% set page_title = page_header %}

{% set tab_title = "Radio" %}
{% set tabs = [
    (_("Status"), url_for('radio.index')), 
    (_("Stations"), url_for('radio.stations')),
    (_("Stations Telephony"), url_for('radio.telephony')),
    (_("Programs"), url_for('radio.programs')),
    (_("Music Programs"), url_for('radio.music_programs')),
    (_("Schedule"), url_for('radio.schedule')),  
]%}

{% block paging_js %}
    {{ super() }}
{% endblock %}
