{% extends "radio/layout.html" %}

{% block css_style %}
    <link href="{{ url_for('static', filename='css/vendor/bootstrap-formhelpers.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='js/vendor/fullcalendar/fullcalendar.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel='stylesheet' />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% endblock %}

{% block js_btm %}
  {{ super() }}
    <script src="{{ url_for('static', filename='js/vendor/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/moment-timezone-with-data.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/ajax-buttons.js') }}"></script>
  <script>
   function selectOneDay(when) {
     $(this).click(function(){
       var moments = {
         yesterday: moment().subtract(1, "days").format('YYYY-MM-DD'),
         today: moment().format('YYYY-MM-DD'),
         all: undefined
       }
       $('#filter_start').val(moments[when]);
       $('#filter_end').val(moments[when]);
       $('#filter_start').trigger('change');
     });
   }

    $(document).ready(function() {
      var api = '/api/station/{{station.id}}/events';

      $('#filter_type').val(localStorage.getItem('rootio_log_filter_type'));
      $('#filter_start').val(localStorage.getItem('rootio_log_filter_start'));
      $('#filter_end').val(localStorage.getItem('rootio_log_filter_end'));

      var tableOptions = {
        stateSave: true,
        serverSide: true,
        processing: '<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i> <span class="sr-only">Loading...</span>',
        searching: true,
        ajax: {
          url: api,
          data: function(d){
            d.event_type = localStorage.getItem('rootio_log_filter_type');
            d.date_start = localStorage.getItem('rootio_log_filter_start');
            d.date_end   = localStorage.getItem('rootio_log_filter_end');
          }
        },
        columns: [
          {
            className:      'details-control',
            orderable:      false,
            data:           null,
            defaultContent: '<i style="cursor: pointer; color: lightblue;" class="fa fa-plus-square" aria-hidden="true"></i>'
          },
          { data: "category" },
          { data: "action" },
          { data: "content" },
          { data: "date" },
        ],
        order: [[ 4, "desc" ]],
        autoWidth: false,
        columnDefs: [
          {width: '5%', targets: 0},
          {width: '10%', targets: 1},
          {width: '10%', targets: 2},
          {width: '55%', targets: 3},
          {width: '20%', targets: 4},
        ],
        lengthMenu: [10, 25, 50, 100, 500, 1000],
        pageLength: 50,
      };

      var datatable = $('#events_table').DataTable(tableOptions);

      $.fn.dataTableExt.errMode = 'ignore'

      function format ( d ) {
        // `d` is the original data object for the row
        var tbl = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'
        d.extra.forEach(function(pair){
          tbl += '<tr><td>';
          tbl += pair[0] + '</td><td>' + pair[1];
          tbl += '</td></tr>';
        });
        tbl += '</table>';
        return tbl;
      }

      $('#events_table tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = datatable.row( tr );
        if ( row.child.isShown() ) {
          // This row is already open - close it
          row.child.hide();
          tr.removeClass('shown');
        }
        else {
          // Open this row
          row.child( format(row.data()) ).show();
          tr.addClass('shown');
        }
      } );

      $('#filters-container select, #filters-container input').change(function() {
        var filter_type = localStorage.setItem('rootio_log_filter_type', $('#filter_type').val());
        var filter_start = localStorage.setItem('rootio_log_filter_start', $('#filter_start').val());
        var filter_end = localStorage.setItem('rootio_log_filter_end', $('#filter_end').val());
        datatable.destroy();
        datatable = $('#events_table').DataTable(tableOptions);
      });
    });
  </script>
{% endblock %}

{% block body %}
  <div class="container">
    <h2 class="pull-left">{{ log }}</h2>
  </div>
  <div class="container">
    <div class="col-sm-12" id="filters-container">
      <table border="0">
        <thead>
          <tr>
            <th colspan="3" style="text-align: left;"> <i> <b>Filters:</b> </i> </th>
          </tr>
        </thead>
        <tr>
          <td>Type</td>
          <td>Start date</td>
          <td>End date (optional)</td>
          <td>Presets</td>
        </tr>
        <tr>
          <td>
            <select id="filter_type" name="type">
              {% for filter in ['ALL', 'CALL', 'MEDIA', 'SYNC', 'SIP_CALL'] %}
                <option value="{{filter}}"
                  {% if event_type == filter %} selected {% endif %}>
                  {{filter}}
                </option>
              {% endfor %}
            </select>
          </td>
          <td>
            <input id="filter_start" name="start" type="date" value="{{ date_start }}"/>
          </td>
          <td>
            <input id="filter_end" name="end" type="date" value="{{ date_end }}"/>
          </td>
          <td>
            <button class="btn btn-small" onclick="selectOneDay('yesterday')" id="filter_preset_yesterday">Yesterday</button>
            <button class="btn btn-small" onclick="selectOneDay('today')" id="filter_preset_today">Today</button>
            <button class="btn btn-small" onclick="selectOneDay('all')" id="filter_preset_all">All time</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-sm-12">
      <table id="events_table" class='table table-bordered table-hover'>
        <thead>
          <tr>
            <th></th>
            <th>{{ _('Type') }}</th>
            <th></th>
            <th>{{ _('Content') }}</th>
            <th>{{ _('Date') }}</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
{% endblock %}
