{% extends "radio/layout.html" %}

{% block css_style %}
    <link href="{{ url_for('static', filename='css/vendor/bootstrap-formhelpers.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='js/vendor/fullcalendar/fullcalendar.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel='stylesheet' />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% endblock %}

{% block body %}
  <div class="container">
    <h2 class="pull-left">{{ log }}</h2>
  </div>
  <div class="container">
    <div class="col-sm-12">
      <table id="offline_datatable" class='table table-bordered table-hover'>
        <thead>
          <tr>
            <th>{{ _('Date') }}</th>
            <th>{{ _('Type') }}</th>
            <th>{{ _('Action') }}</th>
            <th>{{ _('Text') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for line in contents %}
          <tr>
            <td>{{ line.date }}</td>
            <td>{{ line.type }}</td>
            <td>{{ line.action }}</td>
            <td>{{ line.details }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
