{% extends "radio/layout.html" %}

{% block css_style %}
    <link href="{{ url_for('static', filename='css/vendor/bootstrap-formhelpers.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='js/vendor/fullcalendar/fullcalendar.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel='stylesheet' />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

{% endblock %}

{% block js_btm %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/vendor/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/moment-timezone-with-data.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/ajax-buttons.js') }}"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
  <script>
    $(document).ready(function() {

      var filter_type = 'ALL';
      var filter_start = moment().format('YYYY-MM-DD');
      var filter_end = moment().add(1, 'day').format('YYYY-MM-DD');

      $('input[name="dates"]').daterangepicker({
        opens: 'left'
      }, function(start, end, label) {
        filter_start = start.format('YYYY-MM-DD');
        filter_end = end.add(1, 'day').format('YYYY-MM-DD');
        console.log(filter_start);
        console.log(filter_end);
      });

      var api = '/api/station/{{station.id}}/events';

      var tableOptions = {
        dom: 'Blfrtip',
        buttons: [
          {
            text: 'Export',
            action: function ( e, dt, node, config ) {
              var target = dt.ajax.url() + '/download';
              target += '?event_type='
              target += dt.ajax.params().event_type;
              target += '&date_start='
              target += dt.ajax.params().date_start;
              target += '&date_end='
              target += dt.ajax.params().date_end;

              console.log(filter_start);
              console.log(filter_end);

              console.log(target);

              window.location = target;
            }
          },
          {
            text: 'Reload',
            action: function ( e, dt, node, config ) {
              dt.ajax.reload();
            }
          }
        ],
        stateSave: false,
        serverSide: true,
        processing: '<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i> <span class="sr-only">Loading...</span>',
        searching: true,
        ajax: {
          url: api,
          data: function(d){
            d.event_type = filter_type || $('#filter_type').val();
            d.date_start = filter_start;
            d.date_end   = filter_end;
          }
        },
        columns: [
          {
            className:      'details-control',
            orderable:      false,
            data:           null,
            defaultContent: '<i style="cursor: pointer; color: lightblue;" class="fa fa-plus-square" aria-hidden="true"></i>'
          },
          { data: "action" },
          { data: "content" },
          { data: "date" },
        ],
        order: [[ 3, "desc" ]],
        autoWidth: false,
        columnDefs: [
          {width: '5%', targets: 0},
          {width: '5%', targets: 1, class: 'text-center'},
          {width: '70%', targets: 2},
          {width: '20%', targets: 3},
        ],
        lengthMenu: [10, 25, 50, 100],
        pageLength: 10,
      };

      var datatable = $('#events_table').DataTable(tableOptions);

      $.fn.dataTableExt.errMode = 'ignore'

      function format ( d ) {
        // `d` is the original data object for the row
        var tbl = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'
        d.extra.forEach(function(pair){
          tbl += '<tr><td>';
          tbl += pair[0] + '</td><td>' + pair[1];
          tbl += '</td></tr>';
        });
        tbl += '</table>';
        return tbl;
      }

      $('#events_table tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = datatable.row( tr );
        if ( row.child.isShown() ) {
          // This row is already open - close it
          row.child.hide();
          tr.removeClass('shown');
        }
        else {
          // Open this row
          row.child( format(row.data()) ).show();
          tr.addClass('shown');
        }
      } );

      $('#filters-container select, #filters-container input').change(function() {
        filter_type = $('#filter_type').val();
        datatable.destroy();
        datatable = $('#events_table').DataTable(tableOptions);
      });
    });
  </script>
{% endblock %}

{% block body %}
  <div class="container">
    <h2 class="pull-left">{{ log }}</h2>
  </div>
  <div class="container">
    <div class="col-sm-12" id="filters-container">
      <table border="0">
        <thead>
          <tr>
            <th colspan="3" style="text-align: left;"> <i> <b>Filters:</b> </i> </th>
          </tr>
        </thead>
        <tr>
          <td>Type</td>
          <td>Date range</td>
        </tr>
        <tr>
          <td>
            <select id="filter_type" name="type">
              {% for filter in ['ALL', 'CALL', 'MEDIA', 'SYNC', 'SIP_CALL'] %}
                <option value="{{filter}}"
                  {% if event_type == filter %} selected {% endif %}>
                  {{filter}}
                </option>
              {% endfor %}
            </select>
          </td>
          <td>
            <input name="dates" type="text" />
          </td>
        </tr>
      </table>
    </div>
    <div class="col-sm-12">
      <table id="events_table" class='table table-bordered table-hover'>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>{{ _('Content') }}</th>
            <th>{{ _('Date') }}</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
{% endblock %}
