{% from "macros/_form.html" import render_form %}

{% extends "layouts/base.html" %}

{% block css_style %}
    <link href="{{ url_for('static', filename='css/vendor/bootstrap-formhelpers.css') }}" rel='stylesheet' />
{% endblock %}

{% block js_btm %}
    <script src="{{ url_for('static', filename='js/vendor/bootstrap-formhelpers-timepicker.js') }}"></script>
    {{ super() }}
{% endblock %}


{% block body %}
    {%if media%}
        <h2>{{ _('Edit') }} {{ _('Media File') }}</h2>
        {{ render_form(url_for('radio.media_edit', media_id=media.id), form) }}
    {%else%}
        <h2>{{ _('Add') }} {{ _('Media File') }}</h2>
        {{ render_form(url_for('radio.media_add'), form) }}
    {%endif%}
{% endblock %}
