{% extends "radio/layout.html" %}

{% block body %}
<div class="container">
    <h2 class="pull-left">{{ _('Media Files') }}</h2>
    <div class="pull-right">
        <a class="btn btn-success" href="{{ url_for('radio.media_add') }}"><strong>{{ _('Add') }} +</strong></a>
    </div>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Duration') }}</th>
                <th>{{ _('Language') }}</th>
                <th>{{ _('Type') }}</th>
                <th>{{ _('Description') }}</th>
            </tr>
        </thead>
        {% for m in media %}
        <tr>
            <td>{{ m.name }}</td>
            <td>{{ m.duration }}</td>
            <td>{{ m.language }}</td>
            <td>{{ m.type }}</td>
            <td>{{ m.description }}</td>
            <td><a href="{{ url_for('radio.media_edit',media_id=m.id) }}">{{ _('Edit') }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
