{% extends "radio/layout.html" %}

{% block js_btm %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/ajax-buttons.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <h2 class="pull-left">{{ _('Music Programs') }}</h2>
    <div class="pull-right">
        <a class="btn btn-success" href="{{ url_for('radio.music_program_add') }}"><strong>{{ _('Add') }} +</strong></a>
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <strong>Add content</strong>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li> <a href="{{ url_for('content.content_stream_add') }}">Stream</a> </li>
            <li> <a href="{{ url_for('content.content_music_playlists') }}">Playlist</a> </li>
          </ul>
        </div>
    </div>

    <table id="offline_datatable" class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Duration') }}</th>
                <th>{{ _('Language') }}</th>
                <th>{{ _('Episodes Aired') }}</th>
                <th>{{ _('Edit') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for music_program in music_programs %}
          {% if not music_program.deleted %}
            <tr>
                <td>{{ music_program.name }}</td>
                <td>{{ music_program.duration }}</td>
                <td>{{ music_program.language }}</td>
                <td>{{ music_program.episodes_aired()|length }}</td>
                <td><a href="{{ url_for('radio.music_program_definition',music_program_id=music_program.id) }}">{{ _('Edit') }}</a></td>
                <td> <button class='button-delete btn btn-danger' id='delete-{{music_program.id}}'>Delete</button> </td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
