{% extends "radio/layout.html" %}
{% from "macros/_form.html" import render_input %}
{% from "macros/_form.html" import render_form %}
{% from "macros/_calendar.js" import render_duration_to_seconds %}

{% block css_style %}
    <link href="{{ url_for('static', filename='css/vendor/bootstrap-formhelpers.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='js/vendor/fullcalendar/fullcalendar.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='css/schedule.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel='stylesheet' />

{% endblock %}


{% block js_btm %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/vendor/jquery-1.12.4.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/moment-timezone.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/moment-timezone-data.js') }}"></script>

    <script src="{{ url_for('static', filename='js/vendor/fullcalendar/fullcalendar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap-formhelpers-timepicker.js') }}"></script>

    <script src="{{ url_for('static', filename='js/vendor/underscore.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/rrule/rrule.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/rrule/nlp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/rrule.recurringinput.js') }}"></script>

    <script src="{{ url_for('static', filename='js/schedule.js') }}"></script>
    <script src="{{ url_for('static', filename='js/filter-column.js') }}"></script>
    <script>

        $(document ).ready(function(){
            $( "#program_structure" ).addClass('ui-widget-header')
            $( "#program_structure" ).attr('readonly','readonly')
            $( "#structure" ).hide()
        });

        $(document).on('dblclick',"#program_structure",function(e){
            $( "#program_structure" ).html("")
            $( "#structure" ).html("")
            }
        );

        $( function() {
            $( "#draggable" ).draggable();
            $( "#program_structure" ).droppable({
                accept: "#draggable",
                drop: function( event, ui ) {
                    names = $( this ).html() + "," + ui.draggable.attr('data-name')
                    $( this ).html(names.replace(/(^,)|(,$)/g,""))
                    current_text = document.getElementById("structure" ).innerHTML.replace(/(^\[)|(\]$)/g,"")
                    document.getElementById("structure" ).innerHTML = "[" + (current_text + ","+ ui.draggable.attr('data-json')).replace(new RegExp("^[,]+"),"") + "]"
               }
           });
        } );
  </script>
{% endblock %}

{% block body %}
<div class="container">

        <div class="pull-right" style="width:50%;">
        <div style="flow:v-flow">

            <div id='addable-programs' class="addables-holder">
              <h4>{{ _('Playlists') }}</h4>
              <h5>
                <input style="width: 80%;" placeholder="Filter..." id="filter-playlists" type="text" onkeyup="filterListItems(this)">
              </h5>
              <ul style="overflow: auto; max-height: 600px;" data-filtered-by="filter-playlists">
               {% for playlist in playlists %}
                <li id="draggable" class='external-event music-program'
                  data-name="{{playlist.title}}"
                  data-json='{"name":"{{ playlist.title }}","type":"Music", "playlist_id":"{{ playlist.playlist_id}}", "start_time":"00:00:02","duration": 1200, "warning_time": 1140 }'>
                  {{ playlist.title}} ( {{ playlist.station.name }} )
                </li>
               {%endfor%}
             </ul>
            </div>


        </div>
        <div style="flow:v-flow">

            <div id='addable-programs' class="addables-holder">
              <h4>{{ _('Streams') }}</h4>
              <h5>
                <input style="width: 80%;" placeholder="Filter..." id="filter-streams" type="text" onkeyup="filterListItems(this)">
              </h5>
              <ul style="overflow: auto; max-height: 600px;" data-filtered-by="filter-streams">
               {% for stream in streams %}
                <li id="draggable" class='external-event music-program'
                  data-name="{{stream.name}}"
                  data-json='{"name":"{{ stream.name }}","type":"Stream", "stream_url":"{{ stream.uri}}", "start_time":"00:00:02","duration": 1200, "warning_time": 1140 }'>
                  {{ stream.name}}
                </li>
               {%endfor%}
             </ul>
            </div>


        </div>
      </div>

<div style="float:left; width:50%">
{%if music_program%}
        <h2>{{ _('Edit') }} {{ _('Music Program') }}</h2>

        {{ render_form(url_for('radio.music_program_definition', music_program_id=music_program.id), form) }}
        {{ form.hidden_tag() }}

    {%else%}

         <h2>{{ _('Add') }} {{ _('Music Program') }}</h2>
        {{ render_form(url_for('radio.music_program_add'), form) }}
        {{ form.hidden_tag() }}
    {%endif%}
</div>
</div>
{% endblock %}
