{% extends "radio/layout.html" %}

{% block body %}
    <div class="container">
        <h2 class="pull-left">{{ _('Networks') }}</h2>
        <div class="pull-right">
            <a class="btn btn-success" href="{{ url_for('radio.network_add') }}"><strong>{{ _('Add') }} +</strong></a>
        </div>
        <table class='table table-bordered table-hover'>
            <thead>
            <tr>
                <th>{{ _('Name') }}</th>
                <th>{{ _('About') }}</th>
                <th>{{ _('Admins') }}</th>
                <th>{{ _('Stations') }}</th>
            </tr>
            </thead>
            {% for network in networks %}
                <tr id="row_{{ network.id }}">
                    <td>{{ network.name }}</td>
                    <td>{{ network.about }}</td>
                    <td>{{ network.admins|join(', ') }}</td>
                    <td>{{ network.stations|join(', ') }}</td>
                    <td><a href="{{ url_for('radio.network', network_id=network.id) }}">{{ _('Edit') }}</a> | <a href="#" onclick="delete_station('{{ network.id }}')">{{ _('Delete') }}</a> </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        function delete_station(id){
            if (confirm("Are you sure you want to delete this station")){
                $.post("/radio/network/delete/"+id, function(data){
                    $("#row_"+id).remove();
                });
            }
            return false
        }
    </script>
{% endblock %}
