{% set forms = [
    (_("Add Person"), url_for('radio.person_add')),
]%}

{% extends "layouts/base.html" %}

{% set page_title = "People"%}


{% block body %}
    <div class="table-responsive">
        <table id="table-pager" class='table table-hover table-condensed table-striped'>
            <thead>
                <tr>
                    <th>{{ _('Name') }}</th>
                    <th>{{ _('Email') }}</th>
                    <th>{{ _('Phone') }}</th>
                    <th>{{ _('Role') }}</th>
                    <th>{{ _('Action') }}</th>
                </tr>
            </thead>
            {% for person in people %}
            <tr>
                <td>{{ person}} </td>
                <td>{{ person.email }}</td>
                <td>{{ person.phone }}</td>
                <td>{{ person.role }}</td>
                <td><a href="{{ url_for('radio.person', person_id=person.id) }}">{{ _('Edit') }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
