{% extends "radio/layout.html" %}

{% block body %}
<div class="container">
    <h2 class="pull-left">People</h2>
    <div class="pull-right">
        <a class="btn btn-success" href="{{ url_for('radio.person_add') }}"><strong>Add +</strong></a>
    </div>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
            </tr>
        </thead>
        {% for person in people %}
        <tr>
            <td>{{ person}} </td>
            <td>{{ person.email }}</td>
            <td>{{ person.phone }}</td>
            <td>{{ person.role }}</td>
            <td><a href="{{ url_for('radio.person', person_id=person.id) }}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
