{% from "macros/_form.html" import render_form %}

{% extends "radio/layout.html" %}

{% block css_style %}
<link href="{{ url_for('static', filename='css/vendor/bootstrap-formhelpers.css') }}" rel='stylesheet' />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<style>
    #sortable1, #sortable2 {
        border: 1px solid #eee;
        width: 142px;
        min-height: 20px;
        list-style-type: none;
        margin: 0;
        padding: 5px 0 0 0;
        float: left;
        margin-right: 10px;
    }
    #sortable1 li, #sortable2 li {
        margin: 0 5px 5px 5px;
        padding: 5px;
        font-size: 1.2em;
        width: 120px;
    }
</style>
{% endblock %}

{% block js_btm %}
<script src="{{ url_for('static', filename='js/vendor/bootstrap-formhelpers-timepicker.js') }}"></script>
{{ super() }}
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/program_elements.js') }}"></script>
<script>token = '{{ csrf_token() }}';</script>

{% if program %}
<script>
    description = $.parseJSON('{{ program.description|safe() }}');
    time_prog = '{{ program.duration|safe() }}';
</script>
    {% if program.program_type|string() == 'Call-in Show' %}
<script src="{{ url_for('static', filename='js/edit_callIn.js') }}"></script>
<script src="{{ url_for('static', filename='js/program_utils.js') }}"></script>
    {% else %}
<script src="{{ url_for('static', filename='js/edit_other.js') }}"></script>
<script src="{{ url_for('static', filename='js/program_utils.js') }}"></script>
    {% endif %}
{% else %}
<script src="{{ url_for('static', filename='js/add_program.js') }}"></script>
<script src="{{ url_for('static', filename='js/program_utils.js') }}"></script>
{% endif %}
{% endblock %}


{% block body %}
<div class="container">
    {%if program%}
    <h2>{{ _('Edit') }} {{ _('Program') }}</h2>
    {{ render_form(url_for('radio.program', program_id=program.id), form) }}
    {%else%}
    <h2>{{ _('Add') }} {{ _('Program') }}</h2>
    {{ render_form(url_for('radio.program_add'), form) }}
    {%endif%}
</div>
{% endblock %}
