{% extends "radio/layout.html" %}
{% from "macros/_form.html" import render_input %}
{% from "macros/_calendar.js" import render_duration_to_seconds %}

{% block css_style %}
    <link href="{{ url_for('static', filename='js/vendor/fullcalendar/fullcalendar.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='css/schedule.css') }}" rel='stylesheet' />
{% endblock %}

{% block js_btm %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/vendor/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/moment-timezone.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/moment-timezone-data.js') }}"></script>
    
    <script src="{{ url_for('static', filename='js/vendor/fullcalendar/fullcalendar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap-formhelpers-timepicker.js') }}"></script>

    <script src="{{ url_for('static', filename='js/vendor/underscore.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/rrule/rrule.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/rrule/nlp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/rrule.recurringinput.js') }}"></script>

    <script src="{{ url_for('static', filename='js/schedule.js') }}"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        //after initial calendar render

        //set timezone
        $('#calendar').fullCalendar({
            timezone: '{{station.timezone}}'
        });

        //add event sources
        $('#calendar').fullCalendar('addEventSource',
            {url: '/radio/station/{{station.id}}/scheduledprograms.json'}
        );
        $('#calendar').fullCalendar('addEventSource',
            {url: '/radio/station/{{station.id}}/scheduledblocks.json',
            backgroundColor: '#edb',
            borderColor: '#edb',
            textColor: '#777',
            startEditable: false,
            durationEditable: false
            }
        ); 

        //re-render calendar
        $('#calendar').fullCalendar('render');
    });
    </script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
        <h2 class="pull-left">{{station.name}} {{ _('Schedule') }}</h2>
        <div class="pull-right top-25" id="timezone">Timezone: {{station.timezone}}</div>
    </div>

    <div class="row-fluid">
        <div id='addable-programs' class="span2">
            <h4>{{ _('Add Programs') }}</h4>
            <ul>
            {% for p in addable_programs %}
                <li class='external-event'
                    data-program-id="{{p.id}}"
                    data-station-id="{{station.id}}"
                    data-program-type-id="{{ p.program_type_id }}"
                    data-duration-sec="{{render_duration_to_seconds(p.duration)}}">{{p.name}}</li>
            {%endfor%}
                <li class="recurring-button">
                    <button type="button" class="btn" data-toggle="modal" data-target="#addRecurring-modal"><strong>{{ _('Recurring') }}</strong></button>
                </li>
            </ul>
            <br />

            <div class="pull-right">
                <button type="button" class="btn btn-success" id="save-schedule"><strong>{{ _('Save') }}</strong></button>
            </div>
            <div class="alert alert-warning" id="unsaved-changes" style="display:none;">{{ _('Unsaved Changes') }}</div>

            <h4>{{ _('Edit Log') }}</h4>
            <ul id="schedule-edit-log"></ul>
        </div>

        <div id='calendar' class="span10" data-timezone="{{station.timezone}}"></div>
    </div>
</div>

<!-- Add Schedule Modal -->
  <div class="modal fade" id="addRecurring-modal" tabindex="-1" role="dialog" aria-labelledby="addRecurring" aria-hidden="true" style="display:none;">
    <div class="modal-dialog inline-form" data-url="/radio/scheduleprogram/add/recurring_ajax/" data-prefix="">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{ _('Add Recurring Program to Schedule') }}</h4>
        </div>

        <form action="POST">
        <div class="modal-body">
                {{ form.hidden_tag() }}
                <input type="hidden" name="station" value="{{station.id}}" />

                {{ render_input(form.program) }}

                <ul id="program_extra" style="display:none;">
                    <li>{{ _('Description') }}: <span id="description"></span></li>
                    <li>{{ _('Duration') }}: <span id="duration"></span></li>
                    <li>{{ _('Program Type') }}: <span id="program_type"></span></li>
                    <li>{{ _('Update Frequency') }}: <span id="update_frequency"></span></li>
                </ul>

                {{ render_input(form.air_time) }}

                <label class="control-label " for="recurrence">
                    <label for="recurrence">Recurrence</label>
                </label>
                <div class="controls">
                    <!-- common schedules -->
                        <label><input type="radio" name="preset-recurrence" value="FREQ=DAILY"/> {{ _('Daily') }}</label>
                        <label><input type="radio" name="preset-recurrence" value="FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR" /> {{ _('Weekdays') }}</label>
                        <label><input type="radio" name="preset-recurrence" value="FREQ=WEEKLY;BYDAY=SA,SU" /> {{ _('Weekends') }}</label>
                        <label><input type="radio" name="preset-recurrence" value="custom" /> {{ _('Custom') }}</label>
                        <div id="recurringinput">
                            <!-- custom user inputs created here by rrule.recurringinput.js -->
                        </div>
                </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" data-submit="modal" id="modal-save">Save</button>
            </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}
