{% extends "radio/layout.html" %}

{% block body %}
<div class="container">
    <h2 class="pull-left">{{ _('Station Schedules') }}</h2>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _('Name') }} {{ _('(frequency)') }}</th>
                <th>{{ _('Summary') }}</th>
                <th>{{ _('Previous Program') }}</th>
                <th>{{ _('Current Program') }}</th>
                <th>{{ _('Next Program') }}</th>
            </tr>
        </thead>
        {% for station in stations %}
        <tr>
            <td>{{ station.name }} ({{station.frequency}})</td>
            <td>{{ station.successful_scheduled_programs()|length }} successful, {{ station.unsuccessful_scheduled_programs()|length }} failed, {{ station.scheduled_programs()|length }} Scheduled</td>
            <td>{{ station.previous_program() }}</td>
            <td>{{ station.current_program() }}</td>
            <td>{{ station.next_program() }}</td>
            <td><a href="{{ url_for('radio.schedule_station', station_id=station.id) }}">{{ _('Schedule') }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
