{% set forms = [
    (_("Add Radio Station"), url_for('radio.station_add')),
]%}

{% extends "layouts/base.html" %}

{% set page_title = "Stations"%}

{% block body %}
    <table id="table-pager" class='table table-hover table-condensed table-striped'>
        <thead>
            <tr>
                <th>{{ _('Name') }} {{ _('(frequency)') }}</th>
                <th>{{ _('Location') }}</th>
                <th>{{ _('Owner') }}</th>
                <th>{{ _('Phone Numbers') }}</th>
                <th>{{ _('Languages') }}</th>
                <th>{{ _('Action') }}</th>
            </tr>
        </thead>
        {% for station in stations %}
        <tr>
            <td>{{ station.name }} ({{station.frequency}})</td>
            <td>{{ station.location }}</td>
            <td>{{ station.owner }}</td>
            <td>{{ station.cloud_phone }}, {{station.transmitter_phone}}</td>
            <td>{%for lang in station.languages%}{{lang}}{%if not loop.last%}, {%endif%}{%endfor%}</td>
            <td><a href="{{ url_for('radio.station', station_id=station.id) }}">{{ _('Edit') }}</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
