{% extends "radio/layout.html" %}

{% block body %}
<div class="container">
    <h2 class="pull-left">{{ _('Stations') }}</h2>
    <div class="pull-right">
        <a class="btn btn-success" href="{{ url_for('radio.station_add') }}"><strong>{{ _('Add') }} +</strong></a>
    </div>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _('Name') }} {{ _('(frequency)') }}</th>
                <th>{{ _('Status') }}</th>
                <th>{{ _('Current Program') }}</th>
                <th>{{ _('Next Program') }}</th>
            </tr>
        </thead>
        {% for station in stations %}
        <tr>
            <td>{{ station.name }} ({{station.frequency}})</td>
            <td>{{ station.status }}</td>
            <td>{{ station.current_program }}</td>
            <td>{{ station.next_program }}</td>
            <td><a href="{{ url_for('radio.station', station_id=station.id) }}">{{ _('Edit') }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
