{% extends "radio/layout.html" %}

{% block body %}
<div class="container">
    <h2 class="pull-left">{{ _('Stations') }}</h2>
    <div class="pull-right">
        <a class="btn btn-success" href="{{ url_for('radio.station_add') }}"><strong>{{ _('Add') }} +</strong></a>
    </div>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _('Name') }} {{ _('(frequency)') }}</th>
                <th>{{ _('Location') }}</th>
                <th>{{ _('Owner') }}</th>
                <th>{{ _('Phone Numbers') }}</th>
                <th>{{ _('Languages') }}</th>
            </tr>
        </thead>
        {% if stations %}
        {% for station in stations %}
        <tr>
            <td>{{ station.name }} ({{station.frequency}})</td>
            <td>{{ station.location }}</td>
            <td>{{ station.owner }}</td>
            <td>{{ station.cloud_phone }}, {{station.transmitter_phone}}</td>
            <td>{%for lang in station.languages%}{{lang}}{%if not loop.last%}, {%endif%}{%endfor%}</td>
            <td><a href="{{ url_for('radio.station', station_id=station.id) }}">{{ _('Edit') }}</a></td>
        </tr>
        {% endfor %}
        {% else %}
            <tr><td colspan="5">You Don't Currently run any stations <a class="btn btn-success" href="{{ url_for('radio.station_add') }}"><strong>{{ _('Add') }} +</strong></a> a station</td></tr>
        {% endif %}
    </table>
</div>
{% endblock %}
