{% extends "layouts/base.html" %}

{% set page_title = "Program Types" %}
{% set forms = [
    (_("Add New Program Type"), url_for('rootio.program_type_add')),
]%}


{% block body %}
    <table id="table-pager" class='table table-hover table-condensed table-striped'>
        <thead>
            <tr>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Description') }}</th>
                <th>{{ _('Definition') }}</th>
                <th>{{ _('Phone Functions') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for program_type in program_types %}
            <tr>
                <td>{{ program_type.name }}</td>
                <td>{{ program_type.description }}</td>
                <td>{{ program_type.definition }}</td>
                <td>{{ program_type.phone_functions }}</td>
                <td><a href="{{ url_for('rootio.program_type', program_type_id=program_type.id) }}">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
