{% extends "configuration/layout.html" %}

{% block css_style %}
{% endblock %}

{% block js_top %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row-fluid">
        <h1>Stations configuration</h1>
        <hr/>
        <table id="offline_datatable" class='table table-bordered table-hover configuration-table'>
            <thead>
            <th>Name</th>
            <th>Telephony</th>
            <th>SIP</th>
            <th>Android app</th>
            <th>TTS</th>
            <th>IVR Menu</th>
            </thead>
            <tbody>
            {% for station in stations %}
            <tr>
                <td width="10%">
                    {{ station.name }}
                </td>

                <td>
                  <div class="edit-icon-td"><a
                            href="{{ url_for('configuration.telephony_station', station_id=station.id) }}"> <i
                            class="fas fa-edit"></i> </a></div>
                    <a href="{{ url_for('configuration.telephony_station', station_id=station.id) }}">
                        {% if ok_attributes[station.id][0] %}
                        <img src="{{ url_for('static', filename='img/ok.png') }}">
                      {{ _('Telephony configured') }}
                        {% else %}
                        <img src="{{ url_for('static', filename='img/warning.png') }}">
                        {{ _('Configure telephony') }}
                        {% endif %}
                    </a>
                </td>

                <td>
                  <div class="edit-icon-td"><a
                            href="{{ url_for('radio.station_definition', station_id=station.id) }}"> <i
                            class="fas fa-edit"></i> </a></div>
                    <a href="{{ url_for('configuration.sip_telephony', station_id=station.id) }}">
                    {% if ok_attributes[station.id][1] %}
                        <img src="{{ url_for('static', filename='img/ok.png') }}">
                      {{ _('SIP configured') }}
                        {% else %}
                        <img src="{{ url_for('static', filename='img/warning.png') }}">
                      {{ _('Configure SIP') }}
                        {% endif %}
                    </a>
                </td>
                <td>
                    <div class="edit-icon-td"><a
                            href="{{ url_for('radio.station_definition', station_id=station.id) }}"> <i
                            class="fas fa-edit"></i> </a></div>
                    <a href="{{ url_for('radio.station_definition', station_id=station.id) }}">
                    {% if ok_attributes[station.id][2] %}
                        <img src="{{ url_for('static', filename='img/ok.png') }}">
                      {{ _('API key configured') }}
                        {% else %}
                        <img src="{{ url_for('static', filename='img/warning.png') }}">
                      {{ _('Configure API key') }}
                        {% endif %}
                    </a>
                </td>
                <td>
                    <div class="edit-icon-td"><a
                            href="{{ url_for('configuration.tts_setting', station_id=station.id) }}"> <i
                            class="fas fa-edit"></i> </a></div>
                    <a href="{{ url_for('configuration.tts_setting', station_id=station.id) }}">
                    {% if ok_attributes[station.id][3] %}
                        <img src="{{ url_for('static', filename='img/ok.png') }}">
                      {{ _('TTS configured') }}
                        {% else %}
                        <img src="{{ url_for('static', filename='img/warning.png') }}">
                      {{ _('Configure TTS') }}
                        {% endif %}
                    </a>
                </td>
              <td>
                    <div class="edit-icon-td"><a
                            href="{{ url_for('configuration.ivr_menu') }}"> <i
                            class="fas fa-edit"></i> </a></div>
                    <a href="{{ url_for('configuration.ivr_menu') }}">
                    {% if ok_attributes[station.id][4] %}
                        <img src="{{ url_for('static', filename='img/ok.png') }}">
                      {{ _('IVR configured') }}
                        {% else %}
                        <img src="{{ url_for('static', filename='img/warning.png') }}">
                      {{ _('Configure IVR') }}
                        {% endif %}
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js_btm %}
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
