{% extends "configuration/layout.html" %}

{% block css_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/leaflet/leaflet.css') }}" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/leaflet/leaflet.ie.css') }}" />
<![endif]-->
<link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/leaflet/leaflet.awesome-markers.css') }}">
<style>#map { min-height: 500px; border:1px solid #ddd; margin-bottom:20px; }</style>
{% endblock %}

{% block js_top %}
<script src="{{ url_for('static', filename='js/vendor/leaflet/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/leaflet/leaflet.awesome-markers.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery-1.9.1.js') }}"></script>
<script type="text/javascript">
  $(document).ready(function() {
      $('.heading').click(function(){
     $(this).toggleClass('expand').nextUntil('tr.heading').slideToggle(100);
    });
  });

</script>

<style type="text/css">
table, tr, td, th {
  /*border: 1px solid black;*/
  border-collapse: collapse;
}

tr.heading {
  cursor: pointer;
  background-color: #EEEEEE;
}

.heading .sign:after {
  content: "+";
  display: inline-block;
}

.heading.expand .sign:after {
  content: "-";
}

</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row-fluid">
        <h2>{% trans %} Stations {% endtrans %}</h2>
        <div id="map" class="span12"></div>
    </div>
</div>
{% endblock %}

{% block js_btm %}
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.sparkline.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
