{% from "macros/_form.html" import render_form %}

{% extends "configuration/layout.html" %}



{% block js_top %}
<script src="{{ url_for('static', filename='js/vendor/jquery-1.9.1.js') }}"></script>
<script type="text/javascript">
  $(document).ready(function() {
      toggleUseTts($(':checkbox').is(':checked'))

      $(':checkbox').click(function(){
          toggleUseTts($(this).is(':checked'))
          });

  });

  function toggleUseTts(useTts)
  {
       if(useTts)
       {
           //disable all file inputs with their labels
           $(':file').parent().parent().css('display', 'none')


           //show TTS options
           $(":text[name$='txt']").parent().parent().css('display', 'block')
       }
       else
       {
           //show all file inputs
           $(':file').parent().parent().css('display', 'block')

           //show TTS options
           $(":text[name$='txt']").parent().parent().css('display', 'none')
       }
  }


</script>
{% endblock %}

{% block body %}
<div class="container">
    {%if community_menu %}
        <h2>{{ station.name }}</h2>
        {{ render_form(url_for('configuration.ivr_menu', community_menu_id=community_menu.id), form) }}
    {%else%}
        <h2>{{ _('Add Menu') }}</h2>
        {{ render_form(url_for('configuration.ivr_menu'), form) }}
    {%endif%}
</div>
{% endblock %}
