{% extends "layouts/base.html" %}

{% set page_header = _(active) %}
{% set page_title = page_header %}

{% set tab_title = _("Configuration") %}
{% set tabs = [
    (_("Configure Stations"), url_for('configuration.index')),
    (_("Telephony"), url_for('configuration.telephony')),
    (_("SIP Telephony"), url_for('configuration.sip_telephony')),
    (_("Audio Levels"), url_for('configuration.station_audio_levels')),
    (_("TTS"), url_for('configuration.tts')),
    (_("IVR Menu"), url_for('configuration.ivr_menu')),
    (_("Synchronization"), url_for('configuration.synchronization'))
]%}

{% block paging_js %}
    {{ super() }}
{% endblock %}
