{% extends "configuration/layout.html" %}

{% block body %}
<div class="container">
    <h2>{{ _('Configuration') }}</h2>
    <div class="pull-left">
        <h3>{{ _('Audio Settings') }}</h3>
    </div>
    <div class="pull-right">
        <!--<a class="btn btn-success" href="{{ url_for('radio.person_add') }}"><strong>{{ _('Add') }} +</strong></a>-->
    </div>
    <table id="offline_datatable" class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _('Station') }}</th>
                <th>{{ _('Media Volume') }}</th>
                <th>{{ _('Call Volume') }}</th>
                <th>{{ _('File Normalization Factor') }}</th>
                 {% if current_user.role_code ==  0 or current_user.role_code ==  1 %}
                <th>{{ _('Edit') }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for station in stations %}
        <tr>
            <td>{{ station.name}} </td>
            <td>{{ station.audio_volume}} </td>
            <td>
              {{ station.call_volume}}
            <td>
            {{ station.media_amplification_factor}}
            </td>
            {% if current_user.role_code ==  0 or current_user.role_code ==  1 %}
            <td><a href="{{ url_for('configuration.station_audio_level', station_id=station.id) }}">{{ _('Edit') }}</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
