{% from "macros/_form.html" import render_form %}

{% extends "configuration/layout.html" %}



{% block js_top %}
    {{ super() }}

<script src="{{ url_for('static', filename='js/vendor/jquery-1.9.1.js') }}"></script>

<script type="text/javascript">
     var myRules = {};
     var myMessages = {};
</script>


{% for field in form %}
    {% if field.type != "BooleanField" %}
        <script type="text/javascript">
            myRules["{{ field.id }}"] = {
                required: true
            }

            myMessages["{{ field.id }}"] = {
                required: "{{ _('Please provide TTS text.') }}"
            }
        </script>
    {%endif%}
{%endfor%}

<script type="text/javascript">
  $(document).ready(function() {

    function ttsText(enabled) {
        const html = "<input id='use_tts' name='use_tts' type='checkbox' value='y'>";
        if (enabled) {
            return html + "{{_('Use Text-to-Speech')}}"
        }
        return html + "{{_('Use Text-to-Speech (You need to configure your station first)')}}";
    }

    function setCheckboxEvents() {
        $(":checkbox[name='use_tts']").click(function(){
          toggleUseTts($(this).is(':checked'))
      });
    }

    var existingStationId = {{ existing_station_id}};

    if (existingStationId != -1)
        $('#station').val(existingStationId);

    var firstStationValue = $('#station').val();
    if ($('input#_station_uses_tts_' + firstStationValue).val() == "None") {
        $('label[for="use_tts"]').css({'pointer-events':'none', 'color': '#ccc'});
        $('label[for="use_tts"]').html(ttsText(false));
        setCheckboxEvents();
    }

    $('body').on('change','#station', function() {

         if ($('input#_station_uses_tts_' + this.value).val() == "None") {
            $('label[for="use_tts"]').css({'pointer-events':'none', 'color': '#ccc'});
            $('label[for="use_tts"]').html(ttsText(false));
            setCheckboxEvents();
            toggleUseTts(false)
            $(":checkbox[name='use_tts']").prop('checked', false);
         } else {
            $('label[for="use_tts"]').css({'pointer-events':'auto', 'color': 'black'});
            $('label[for="use_tts"]').html(ttsText(true));
            setCheckboxEvents();
         }
    });

      toggleUseTts($(":checkbox[name='use_tts']").is(':checked'))

      setCheckboxEvents();
     
      $( "form[name='validate']" ).validate({ // initialize
            errorPlacement: function(label, element) {
                label.insertAfter(element);
            },
            rules: myRules,
            messages: myMessages
        });

        $('input[type="file"]').each(function() {
            $(this).rules('add', {
                accept: "audio/wav, audio/mp3",
                maxsize: 50 * 1000 * 1000,
                required: true,
                messages: {
                    maxsize: "{{ _('File size must be less than 50 MB.') }}",
                    accept: "{{ _('Please upload .mp3 or .wav.') }}",
                    required: "{{ _('Please upload a file.') }}"
                }
            });
        });

    });
        // this doesn't work for text inputs - probably because there's a repeating id
       /* $('input[type="text"]').each(function() {
            $(this).rules('add', {
                required: true,
                messages: {
                    required: "{{ _('Please write.') }}"
                }
            });
        }); */

  function toggleUseTts(useTts)
  {
       if(useTts)
       {
           //disable all file inputs with their labels
           $(':file').parent().parent().css('display', 'none')


           //show TTS options
           $(":text[name$='txt']").parent().parent().css('display', 'block')
           $(":checkbox[name='prefetch_tts']").parent().parent().css('display', 'block')
       }
       else
       {
           //show all file inputs
           $(':file').parent().parent().css('display', 'block')

           //show TTS options
           $(":checkbox[name='prefetch_tts']").parent().parent().css('display', 'none')
           $(":text[name$='txt']").parent().parent().css('display', 'none')
       }
  }


</script>
{% endblock %}

{% block body %}
<div class="container">
    {% for station in stations %}
        <input type="hidden" id="_station_uses_tts_{{ station.id }}" name="_station_uses_tts_{{ station.id }}" value="{{ station.tts_voice_id }}">
    {%endfor%}
    {%if voice_prompt %}
        <h2>{{ station.name }}</h2>
        {{ render_form(url_for('configuration.voice_prompt', voice_prompt_id=voice_prompt.id), form, validate=True) }}
    {%else%}
        <h2>{{ _('Add voice prompts') }}</h2>
        {{ render_form(url_for('configuration.voice_prompt'), form, validate=True) }}
    {%endif%}
</div>
{% endblock %}
