{% extends "layouts/base.html" %}
{% set page_title = "Calls" %}

{% block body %}
    <table id="table-pager" class='table table-hover table-condensed table-striped'>
        <thead>
            <tr>
                <th>{{ _('UUID') }}</th>
                <th>{{ _('Start') }}</th>
                <th>{{ _('End') }}</th>
                <th>{{ _('From') }}</th>
                <th>{{ _('To') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for call in calls %}
            <tr>
                <td>{{ call.call_uuid }}</td>
                <td>{{ call.start_time }}</td>
                <td>{{ call.end_time }}</td>
                <td>{{ call.from_phonenumber }}</td>
                <td>{{ call.to_phonenumber }}</td>
            {#todo: fix linking below#}
                {#<td><a href="{{ url_for('telephony.phonenumber', phonenumber_id=call.from_phonenumber.id) }}">{{ call.from_phonenumber }}</a></td>#}
                {#<td><a href="{{ url_for('telephony.phonenumber', phonenumber_id=call.to_phonenumber.id) }}">{{ call.to_phonenumber }}</a></td>#}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
