{% extends "telephony/layout.html" %}

{% block body %}
<div class="container">
    <h2 class="pull-left">{{ _('Calls') }}</h2>

    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _('UUID') }}</th>
                <th>{{ _('Start') }}</th>
                <th>{{ _('End') }}</th>
                <th>{{ _('From') }}</th>
                <th>{{ _('To') }}</th>
                <th>{{ _('Station') }}</th>
            </tr>
        </thead>
        {% for call in calls %}
        <tr>
            <td>{{ call.call_uuid }}</td>
            <td>{{ call.start_time }}</td>
            <td>{{ call.end_time }}</td>
            <td>{{ call.from_phonenumber }}</td>
            <td>{{ call.to_phonenumber }}</td>
	        <td>{{ call.station_id }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
