{% extends "telephony/layout.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
        <h2>{{ _('Telephony Dashboard') }}</h2>

        <div class="span12">
            {{ kwargs }}
            <table class='table table-bordered table-hover'>
            <thead>
                <tr>
                    <th>{{ _('Station') }}</th>
                    <th>{{ _('Calls') }}</th>
                    <th>{{ _('Messages') }}</th>
                    <th>{{ _('Incoming Gateways') }}</th>
                    <th>{{ _('Outgoing gateways') }}</th>
                </tr>
            </thead>
            {%for station in station_summary %}
            <tr>
                <td>{{station.station}}</td>
                <td>{{station.calls}}</td>
                <td>{{station.messages}}</td>
                <td>{{station.incoming_gateways}}</td>
                <td>{{station.outgoing_gateways}}</td>
            </tr>
            {%endfor%}
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block js_btm %}
{% endblock %}
