{% extends "telephony/layout.html" %}

{% block body %}
<div class="container">
    <h2 class="pull-left">{{ _('Messages') }}</h2>

    <table id="datatable" data-url="records" class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _('Station') }}</th>
                <th>{{ _('Sendtime') }}</th>
                <th>{{ _('Text') }}</th>
                <th>{{ _('From') }}</th>
                <th>{{ _('To') }}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}
