{% extends "telephony/layout.html" %}

{% block body %}
<div class="container">
    <h2 class="pull-left">{{ _('Phone Numbers') }}</h2>
    <div class="pull-right">
        <a class="btn btn-success" href="{{ url_for('telephony.phonenumber_add') }}"><strong>{{ _('Add') }} +</strong></a>
    </div>
    <table id="datatable" class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _('Type') }}</th>
                <th>{{ _('Country') }}</th>
                <th>{{ _('Number') }}</th>
                <th>{{ _('Person') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for phonenumber in phonenumbers %}
        <tr>
            <td>{{ phonenumber.type }}</td>
            <td>{{ phonenumber.countrycode }}</td>
            <td>{{ phonenumber.number }}</td>
            <td>{%if phonenumber.person%}<a href="{{ url_for('radio.person', person_id=phonenumber.person.id) }}">{{ phonenumber.person }}</a>{%else%}None{%endif%}</td>
            <td><a href="{{ url_for('telephony.phonenumber', phonenumber_id=phonenumber.id) }}">{{ _('Edit') }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
