{% set forms = [
    (_("Add Phone Number"), url_for('telephony.phonenumber_add')),
]%}
{% set page_title = "Phone Numbers" %}
{% extends "layouts/base.html" %}

{% block body %}
    <table id="table-pager" class='table table-hover table-condensed table-striped'>
        <thead>
            <tr>
                <th>{{ _('Type') }}</th>
                <th>{{ _('Country') }}</th>
                <th>{{ _('Number') }}</th>
                <th>{{ _('Person') }}</th>
                <th>{{ _('Action') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for phonenumber in phonenumbers %}
        <tr>
            <td>{{ phonenumber.type }}</td>
            <td>{{ phonenumber.countrycode }}</td>
            <td>{{ phonenumber.number }}</td>
            <td>{%if phonenumber.person%}<a href="{{ url_for('radio.person', person_id=phonenumber.person.id) }}">{{ phonenumber.person }}</a>{%else%}None{%endif%}</td>
            <td><a href="{{ url_for('telephony.phonenumber', phonenumber_id=phonenumber.id) }}">{{ _('Edit') }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
