{% extends "telephony/layout.html" %}

{% block body %}
<div class="container">
    <h2 class="pull-left">Phone Numbers</h2>
    <div class="pull-right">
        <a class="btn btn-success" href="{{ url_for('telephony.phonenumber_add') }}"><strong>Add +</strong></a>
    </div>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>Type</th>
                <th>Country</th>
                <th>Number</th>
                <th>Person</th>
                <th></th>
            </tr>
        </thead>
        {% for phonenumber in phonenumbers %}
        <tr>
            <td>{{ phonenumber.type }}</td>
            <td>{{ phonenumber.countrycode }}</td>
            <td>{{ phonenumber.number }}</td>
            <td><a href="{{ url_for('radio.person', person_id=phonenumber.person.id) }}">{{ phonenumber.person }}</td>
            <td><a href="{{ url_for('telephony.phonenumber', phonenumber_id=phonenumber.id) }}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
