{% from "macros/_form.html" import render_form, render_field %}

{% extends "radio/layout.html" %}

{% block css_style %}
    <link href="{{ url_for('static', filename='css/vendor/bootstrap-formhelpers.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='css/block.css') }}" rel='stylesheet' />
{% endblock %}

{% block js_btm %}
    {{ super() }}

    <script src="{{ url_for('static', filename='js/vendor/bootstrap-formhelpers-timepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/underscore.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/rrule/rrule.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/rrule/nlp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/rrule.recurringinput.js') }}"></script>

{% endblock %}


{% block body %}
<div class="container">
    <h2>{{ _('Add') }} {{ _('Chat Bot Command') }}</h2>
    <form method="POST" action="{{ url_for('bot.add_chatbot_command')}}" >
        {{ form.hidden_tag() }}
        {{ render_field(form, form.code) }}
        {{ render_field(form, form.answer) }}
        {{ render_field(form, form.submit) }}
    </form>
</div>
{% endblock %}