{% from "macros/_form.html" import render_form %}

{% set page_title = "Reset password" %}

{% extends "layouts/base.html" %}

{% block css_style %}
        <link href="{{ url_for('static', filename='css/login.css') }}" rel='stylesheet' />
{% endblock %}


{% block body %}
<div class="background-login"></div>
<div class="form-container">
    <div class="box">
        <div class="login-title">
            <h2>{{ _('Reset Password') }}</h2>
            <h5>If you have an account and you forgot your password, just insert you email
            and we will send you a new one.</h5>
         </div>
        {{ render_form(url_for('frontend.reset_password'), form)}}
    </div> <!--END box -->
</div> <!--END form-container -->

{% endblock %}
