{% from "macros/_form.html" import render_form %}

{% set page_title = _('Sign up') %}

{% extends "layouts/base.html" %}

{% block css_style %}
        <link href="{{ url_for('static', filename='css/login.css') }}" rel='stylesheet' />
{% endblock %}


{% block body %}
<div class="background-login"></div>
<div class="form-container">
    <div class="box">
        <div class="login-title">
            <h2>{{ _('Sign up') }}</h2>
            <h5>Welcome, please type in your username, email and password to sign in.</h5>
        </div>
        {{ render_form(url_for('frontend.signup'), form) }}
    </div> <!--END box -->
</div> <!--END form-container -->
{% endblock %}
{# <!--
 <small>{%trans%}Already have an account?{%endtrans%} <a href="{{ url_for('frontend.login') }}">{{ _('Sign in') }}</a>, {{_('please')}}.</small>-->#}