{% extends "layouts/base.html" %}
{% set page_title = user.name %}

{% block body %}
<h2>{% trans %}Hello{% endtrans %}, {{ user.name }}!</h2>

<ul>
    <li><a href="{{ url_for('radio.index') }}">{{ _('Radio Dashboard') }}</a></li>
    <li><a href="{{ url_for('telephony.index') }}">{{ _('Telephony Dashboard') }}</a></li>

    {% if current_user.is_admin() %}
    <li><a href="{{ url_for('radio.emergency') }}">{{ _('Emergency Broadcast') }}</a></li>
    <li><a href="{{ url_for('messenger.message_test') }}">{{ _('Schedule Message Tester') }}</a></li>
    <li><a href="{{ url_for('user.user_dashboard') }}">{{ _('Manage Users') }}</a></li>
    {%endif%}
</ul>


{% endblock %}
