{% extends "layouts/base.html" %}
{% set page_title = user.name %}

{% block body %}
<h2>{% trans %}Hello{% endtrans %}, {{ user.name }}!</h2>

<ul>
    
    <li><a href="{{ url_for('radio.index') }}">{% trans %} Radio Dashboard {% endtrans %}</a></li>
    <li><a href="{{ url_for('telephony.index') }}">{% trans %} Telephony Dashboard {% endtrans %}</a></li>
    <li><a href="{{ url_for('content.index') }}">{% trans %} Manage Content {% endtrans %}</a></li>

    {% if current_user.is_admin() %}
    <li><a href="{{ url_for('radio.emergency') }}">{% trans %} Emergency Broadcast {% endtrans %}</a></li>
    <li><a href="{{ url_for('messenger.message_test') }}">{% trans %} Schedule Message Tester {% endtrans %}</a></li>
    <li><a href="{{ url_for('user.user_dashboard') }}">{% trans %} Manage Users {% endtrans %}</a></li>
    <li><a href="{{ url_for('content.index') }}">{% trans %} Manage Content {% endtrans %}</a></li>
    {%endif%}
</ul>


{% endblock %}
